<template>
  <div class="row">
    <div class="col-md-12">
      <b-card
        style="
          border-color: transparent;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        "
      >
        <div class="flex justify-between items-center my-3">
          <div class="flex-grow px-0 py-0 m-0">
            <h5 class="p-0 ml-3 mr-0">Manajemen Alumni Terbaik</h5>
          </div>
        </div>
        <div class="mx-3" v-for="(item, index) in list_alumni" :key="index">
          <table class="table" v-if="item.id == id">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Peserta</th>
                <th scope="col">Jabatan</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(items, index) in item.reqalumni" :key="index">
                <td scope="row">{{ index + 1 }}</td>
                <td>{{ items.nama }}</td>
                <td>{{ items.asalInstansi }}</td>
                <td>
                  <b-button
                    variant="primary"
                    size="sm"
                    @click="modalsHapus(items.id)"
                    >Hapus</b-button
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </b-card>
      
    </div>
    <modal :show.sync="modals.hapus">
            <template slot="header">
              <h5 class="modal-title" id="exampleModalLabel">
                Hapus Peserta
              </h5>
            </template>
            <div>
              <div>
                <p>Apakah anda yakin ingin menghapus data tersebut ?</p>
              </div>
            </div>
            <template slot="footer">
              <base-button
                type="warning"
                size="sm"
                @click="modals.hapus = false"
                >Close</base-button
              >
              <base-button type="info" size="sm" @click="hapus_alumni_terbaik(modals.id)"
                >Hapus</base-button
              >
            </template>
          </modal>
  </div>
</template>
<script>
import { Action } from "@/store/api/types";
import { BaseAlert, Modal } from "@/components";
export default {
  name: "alumni_terbaik_detail",
  components: {
    BaseAlert,
    Modal,
  },
  data() {
    return {
        modals:{
            hapus:false,
            id:""
        },
      id: this.$route.params.id,
      list_alumni: null,
    };
  },
  created() {
    this.get_alumni_terbaik_by_diklat();
  },
  methods: {
      modalsHapus(id){
          this.modals.id = id;
          this.modals.hapus = true;
      },
    get_alumni_terbaik_by_diklat: function () {
      // this.$store.dispatch(`${Action.alumni.peserta_terbaik_by_diklat}`, {id: this.id})
      this.$store
        .dispatch(`${Action.alumni.peserta_terbaik_get_all}`)
        .then((resp) => {
          console.log(resp.data);
          this.list_alumni = resp.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    hapus_alumni_terbaik: function (value) {
      this.$store
        .dispatch(`${Action.alumni.hapus_peserta_terbaik}`, { id: value })
        .then((resp) => {
            this.modals.hapus=false;
          console.log(resp.data);
          this.get_alumni_terbaik_by_diklat();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>