<template>
  <div class="row">
    <div class="col-md-12">
      <b-card
        style="
          border-color: transparent;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        "
      >
        <div class="flex justify-between items-center mx-3 my-3">
          <div class="flex-grow px-0 py-0 m-0">
            <h5 class="p-0 m-0">Detail Alumni</h5>
          </div>
          <div>
            <b-button variant="primary" @click="create_photo"
              >Upload Photo</b-button
            >
            <b-button variant="primary" @click="ambilDataAlumni()"
              >Edit Data</b-button
            >
          </div>
        </div>
        <div class="mx-3 mb-3">
          <div class="flex justify-start items-center">
            <div class="mr-2">
              <img
                v-bind:src="
                  alumni.foto
                    ? 'data:image/jpeg;base64,' + foto_alumni
                    : 'https://picsum.photos/600/300/'
                "
                class="object-cover bg-gray-400 w-20 h-20"
              />
            </div>
            <div class="m-0">
              <p class="text-xl font-medium p-0 m-0">{{ alumni.nama }}</p>
              <p class="font-thin p-0 m-0">{{ alumni.nomorId }}</p>
            </div>
          </div>
        </div>
        <div class="mx-3 mb-3">
          <div class="ml-1 row">
            <p class="font-thin p-0 m-0">Jenis Kelamin :</p>
            <p class="font-medium p-0 m-0">{{ alumni.jenisKelamin }}</p>
          </div>
          <div class="ml-1 row">
            <p class="font-thin p-0 m-0">Agama :</p>
            <p class="font-medium p-0 m-0">{{ alumni.agama }}</p>
          </div>
          <div class="ml-1 row">
            <p class="font-thin p-0 m-0">Tempat Lahir :</p>
            <p class="font-medium p-0 m-0">{{ alumni.tempatLahir }}</p>
          </div>
          <div class="ml-1 row">
            <p class="font-thin p-0 m-0">Asal Instansi :</p>
            <p class="font-medium p-0 m-0">{{ alumni.asalInstansi }}</p>
          </div>
          <div class="ml-1 row">
            <p class="font-thin p-0 m-0">Jabatan :</p>
            <p class="font-medium p-0 m-0">{{ alumni.jabatan }}</p>
          </div>
          <div class="ml-1 row">
            <p class="font-thin p-0 m-0">Pangkat :</p>
            <p class="font-medium p-0 m-0">{{ alumni.pangkat }}</p>
          </div>
        </div>
        <div class="mx-3">
          <b-tabs content-class="mt-3">
            <b-tab title="Pendidikan" active>
              <div class="flex justify-end items-center">
                <div class="">
                  <b-button variant="primary" @click="create_get_pendidikan"
                    >Tambah Data Pendidikan</b-button
                  >
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Jenjang Pendidikan</th>
                    <th scope="col">Nama Sekolah/Universitas</th>
                    <th scope="col">Tahun</th>
                    <th scope="col">Lokasi</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in list_pendidikan" :key="index">
                    <td>{{ item.jenjang }}</td>
                    <td>{{ item.nama_sekolah }}</td>
                    <td>{{ item.tahun }}</td>
                    <td>{{ item.lokasi }}</td>
                    <td>
                      <b-button
                        variant="primary"
                        size="sm"
                        @click="delete_pendidikan(item.id)"
                        >Hapus</b-button
                      >
                      <b-button
                        variant="primary"
                        size="sm"
                        @click="update_get_pendidikan(item.id)"
                        >Edit</b-button
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <b-table striped hover :fields="fields_pendidikan" :items="list_pendidikan">
                                <template #cell(show_details)="">
                                    <b-button size="sm" class="mr-2">
                                    Show Details
                                    </b-button>
                                </template>
                            </b-table> -->
            </b-tab>
            <b-tab title="Organisasi">
              <div class="flex justify-end items-center">
                <div class="">
                  <b-button variant="primary" @click="create_get_organisasi"
                    >Tambah Data Organisasi</b-button
                  >
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama Organisasi</th>
                    <th scope="col">Bidang Organisasi</th>
                    <th scope="col">Jabatan</th>
                    <th scope="col">Tahun</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in list_organisasi" :key="index">
                    <td>{{ item.nama_organisasi }}</td>
                    <td>{{ item.bidang_organisasi }}</td>
                    <td>{{ item.jabatan }}</td>
                    <td>{{ item.tahun }}</td>
                    <td>
                      <b-button
                        variant="primary"
                        size="sm"
                        @click="delete_organisasi(item.id)"
                        >Hapus</b-button
                      >
                      <b-button
                        variant="primary"
                        size="sm"
                        @click="update_get_organisasi(item.id)"
                        >Edit</b-button
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <b-table striped hover :items="list_organisasi"></b-table> -->
            </b-tab>
            <b-tab title="Projek Perubahan">
              <div class="flex justify-end items-center">
                <div class="">
                  <b-button variant="primary" @click="create_get_proper"
                    >Tambah Data Proper</b-button
                  >
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Judul</th>
                    <th scope="col">Abstrak</th>
                    <th scope="col">Evidence</th>
                    <th scope="col">Kata Kunci</th>
                    <th scope="col">Tahun</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in list_proper" :key="index">
                    <td>
                      <span
                        class="cursor-pointer"
                        @click="get_detail_proper(item.idAlumni)"
                        >{{ item.judul }}</span
                      >
                    </td>
                    <td>{{ item.abstrak }}</td>
                    <td>{{ item.evidence }}</td>
                    <td>{{ item.kataKunci }}</td>
                    <td>{{ item.tahun }}</td>
                    <td>
                      <b-button
                        variant="primary"
                        size="sm"
                        @click="delete_proper(item.id)"
                        >Hapus</b-button
                      >
                      <b-button
                        variant="primary"
                        size="sm"
                        @click="update_get_proper(item.id)"
                        >Edit</b-button
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <b-table striped hover :items="list_proper"></b-table> -->
            </b-tab>
          </b-tabs>
        </div>
      </b-card>
      <modal :show.sync="modals.editAlumni">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Data Alumni</h5>
        </template>
        <div>
          <div>
            <p class="m-0 p-0">Agama</p>
            <base-input class="m-0" v-model="editAlumni.agama"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Alamat Kantor</p>
            <base-input
              class="m-0"
              v-model="editAlumni.alamatKantor"
            ></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Asal Instansi</p>
            <base-input
              class="m-0"
              v-model="editAlumni.asalInstansi"
            ></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Email</p>
            <base-input class="m-0" v-model="editAlumni.email"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Gol</p>
            <base-input class="m-0" v-model="editAlumni.gol"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Jabatan</p>
            <base-input class="m-0" v-model="editAlumni.jabatan"></base-input>
          </div>
          <div>
            <base-input label="Jenis Kelamin">
              <select
                class="form-control"
                v-model="editAlumni.jenisKelamin"
                style="height: 40px"
              >
                <option value="Pria">Pria</option>
                <option value="Wanita">Wanita</option>
              </select>
            </base-input>
          </div>
          <div>
            <p class="m-0 p-0">Nama</p>
            <base-input class="m-0" v-model="editAlumni.nama"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">No Telp</p>
            <base-input class="m-0" v-model="editAlumni.noTelp"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Nomor Id</p>
            <base-input class="m-0" v-model="editAlumni.nomorId"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Nomor Kra</p>
            <base-input class="m-0" v-model="editAlumni.nomorKra"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Pangkat</p>
            <base-input class="m-0" v-model="editAlumni.pangkat"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Tempat Lahir</p>
            <base-input
              class="m-0"
              v-model="editAlumni.tempatLahir"
            ></base-input>
          </div>
        </div>
        <template slot="footer">
          <base-button
            type="warning"
            size="sm"
            @click="modals.editAlumni = false"
            >Close</base-button
          >
          <base-button type="info" size="sm" @click="putAlumni"
            >Save changes</base-button
          >
        </template>
      </modal>
      <modal :show.sync="modals.modals_pendidikan">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">
            Tambah Data Pendidikan
          </h5>
        </template>
        <div>
          <div>
            <p class="m-0 p-0">Jenjang Pendidikan</p>
            <base-input class="m-0" v-model="pendidikan.jenjang"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Nama Sekolah/Universitas</p>
            <base-input class="m-0" v-model="pendidikan.namauniv"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Tahun Selesai Pendidikan</p>
            <base-input class="m-0" v-model="pendidikan.tahun"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Lokasi</p>
            <base-input class="m-0" v-model="pendidikan.lokasi"></base-input>
          </div>
        </div>
        <template slot="footer">
          <base-button
            type="warning"
            size="sm"
            @click="modals.modals_pendidikan = false"
            >Close</base-button
          >
          <base-button type="info" size="sm" @click="post_pendidikan"
            >Save changes</base-button
          >
        </template>
      </modal>
      <modal :show.sync="modals.modals_organisasi">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">
            Tambah Data Organisasi
          </h5>
        </template>
        <div>
          <div>
            <div>
              <p class="m-0 p-0">Nama Organisasi</p>
              <base-input
                class="m-0"
                v-model="organisasi.namaOrganisasi"
              ></base-input>
            </div>
            <div>
              <p class="m-0 p-0">Bidang Organisasi</p>
              <base-input
                class="m-0"
                v-model="organisasi.bidangOrganisasi"
              ></base-input>
            </div>
            <div>
              <p class="m-0 p-0">Jabatan</p>
              <base-input class="m-0" v-model="organisasi.jabatan"></base-input>
            </div>
            <div>
              <p class="m-0 p-0">Tahun</p>
              <base-input class="m-0" v-model="organisasi.tahun"></base-input>
            </div>
          </div>
        </div>
        <template slot="footer">
          <base-button
            type="warning"
            size="sm"
            @click="modals.modals_organisasi = false"
            >Close</base-button
          >
          <base-button type="info" size="sm" @click="post_organisasi"
            >Save changes</base-button
          >
        </template>
      </modal>
      <modal :show.sync="modals.modals_proper">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">
            Tambah Data Projek Perubahan
          </h5>
        </template>
        <div>
          <div>
            <p class="m-0 p-0">Judul</p>
            <base-input class="m-0" v-model="proper.judul"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Tahun</p>
            <base-input class="m-0" v-model="proper.tahun"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Abstrak</p>
            <base-input>
              <template slot="prepend">With textarea</template>
              <textarea
                class="form-control"
                aria-label="With textarea"
                v-model="proper.abstrak"
              ></textarea>
            </base-input>
          </div>
          <div>
            <p class="m-0 p-0">Evidence</p>
            <base-input class="m-0" v-model="proper.evidence"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Kata Kunci</p>
            <base-input class="m-0" v-model="proper.kataKunci"></base-input>
          </div>
        </div>
        <template slot="footer">
          <base-button
            type="warning"
            size="sm"
            @click="modals.modals_proper = false"
            >Close</base-button
          >
          <base-button type="info" size="sm" @click="post_proper"
            >Save changes</base-button
          >
        </template>
      </modal>
      <modal :show.sync="modals.modals_detail_proper">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">
            Detail Projek Perubahan
          </h5>
        </template>
        <div>
          <div v-for="(item, index) in detail_proper" :key="index">
            <p class="text-center leading-tight p-0 m-0">{{ item.judul }}</p>
          </div>
        </div>
        <template slot="footer">
          <base-button
            type="warning"
            size="sm"
            @click="modals.modals_detail_proper = false"
            >Close</base-button
          >
          <!-- <base-button type="info" size="sm" @click="post_proper">Save changes</base-button> -->
        </template>
      </modal>
      <modal :show.sync="modals.modal_photo">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">
            Upload Photo Alumni
          </h5>
        </template>
        <div>
          <div>
            <p class="m-0 p-0">Photo</p>
            <b-form-file
              ref="upload_photo"
              id="upload_photo"
              placeholder="Choose a file or drop it here..."
              drop-placeholder="Drop file here..."
            ></b-form-file>
          </div>
        </div>
        <template slot="footer">
          <base-button
            type="warning"
            size="sm"
            @click="modals.modal_photo = false"
            >Close</base-button
          >
          <base-button type="info" size="sm" @click="post_photo"
            >Save changes</base-button
          >
        </template>
      </modal>
    </div>
  </div>
</template>
<script>
import { Action } from "@/store/api/types";
import { BaseAlert, Modal } from "@/components";
import { log, isRegExp } from "util";
export default {
  name: "regular",
  components: {
    BaseAlert,
    Modal,
  },
  data() {
    return {
      id: this.$route.params.id,
      alumni: {},
      items: [
        { age: 40, first_name: "Dickerson", last_name: "Macdonald" },
        { age: 21, first_name: "Larsen", last_name: "Shaw" },
        { age: 89, first_name: "Geneva", last_name: "Wilson" },
        { age: 38, first_name: "Jami", last_name: "Carney" },
      ],
      editAlumni: {
        agama: "",
        alamatKantor: "",
        asalInstansi: "",
        email: "",
        gol: "",
        jabatan: "",
        jenisKelamin: "",
        nama: "",
        noTelp: "",
        nomorId: "",
        nomorKra: "",
        pangkat: "",
        tempatLahir: "",
        id:""
      },
      modals: {
        modals_pendidikan: false,
        modals_organisasi: false,
        modals_proper: false,
        modals_detail_proper: false,
        modal_photo: false,
        editAlumni: false,
      },
      fields_pendidikan: [
        "jenjang",
        "nama_sekolah",
        "lokasi",
        "tahun",
        "show_details",
      ],
      list_pendidikan: [],
      fungsi_pendidikan: null,
      pendidikan: {
        jenjang: null,
        namauniv: null,
        lokasi: null,
        tahun: null,
        idAlumni: this.$route.params.id,
        id: 0,
      },
      list_organisasi: [],
      fungsi_organisasi: null,
      organisasi: {
        bidangOrganisasi: null,
        jabatan: null,
        namaOrganisasi: null,
        tahun: null,
        idAlumni: this.$route.params.id,
        id: 0,
      },
      list_proper: [],
      fungsi_proper: null,
      proper: {
        judul: null,
        abstrak: null,
        evidence: null,
        kataKunci: null,
        tahun: null,
        idAlumni: this.$route.params.id,
        id: 0,
      },
      detail_proper: null,
      id_alumni: null,
      foto_alumni: null,
      test_foto_alumni: null,
    };
  },
  filters: {
    take_foto: function (value) {
      return value;
    },
  },
  created() {
    this.get_alumni();
    this.get_pendidikan();
    this.get_organisasi();
    this.get_proper();
    // this.ambil_photo()
  },
  methods: {
    ambilDataAlumni() {
      this.modals.editAlumni = true;
      this.editAlumni.agama = this.alumni.agama;
      this.editAlumni.alamatKantor = this.alumni.alamatKantor;
      this.editAlumni.nomorKra = this.alumni.nomorKra;
      this.editAlumni.pangkat = this.alumni.pangkat;
      this.editAlumni.tempatLahir = this.alumni.tempatLahir;
      this.editAlumni.asalInstansi = this.alumni.asalInstansi;
      this.editAlumni.email = this.alumni.email;
      this.editAlumni.gol = this.alumni.gol;
      this.editAlumni.jabatan = this.alumni.jabatan;
      this.editAlumni.jenisKelamin = this.alumni.jenisKelamin;
      this.editAlumni.nama = this.alumni.nama;
      this.editAlumni.noTelp = this.alumni.noTelp;
      this.editAlumni.nomorId = this.alumni.nomorId;
      this.editAlumni.id = this.alumni.id;
    },
    async putAlumni(){
      const hasil = await this.$store
        .dispatch(`${Action.alumni.editAlumni}`, this.editAlumni);
        console.log(hasil);
        console.log(hasil.data);
        if(hasil.status == 200){
          let muncul=this.$toast.success('Update Berhasil')
          muncul.goAway(500)
          this.modals.editAlumni = false;
          this.alumni.agama = hasil.data.agama;
          this.alumni.alamatKantor = hasil.data.alamatKantor;
          this.alumni.nomorKra = hasil.data.nomorKra;
          this.alumni.pangkat = hasil.data.pangkat;
          this.alumni.tempatLahir = hasil.data.tempatLahir;
          this.alumni.asalInstansi = hasil.data.asalInstansi;
          this.alumni.email = hasil.data.email;
          this.alumni.gol = hasil.data.gol;
          this.alumni.jabatan = hasil.data.jabatan;
          this.alumni.jenisKelamin = hasil.data.jenisKelamin;
          this.alumni.nama = hasil.data.nama;
          this.alumni.noTelp = hasil.data.noTelp;
          this.alumni.nomorId = hasil.data.nomorId;
        } else {
          let muncul=this.$toast.success('Update Gagal')
          muncul.goAway(500)
        }
    },
    get_alumni: function () {
      this.$store
        .dispatch(`${Action.alumni.peserta_by_id}`, this.id)
        .then((resp) => {
          console.log(resp.data[0]);
          this.alumni = resp.data[0];
          this.id_alumni = resp.data[0].id;
          // this.foto_alumni = resp.data[0].foto;

          this.$store
            .dispatch(`${Action.alumni.ambil_photo}`, {
              name: resp.data[0].foto,
            })
            .then((res) => {
              this.foto_alumni = res.data;
            })
            .catch((err) => {
              console.log(err);
            });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    get_pendidikan: function () {
      this.$store
        .dispatch(`${Action.alumni.pendidikan}`, this.id)
        .then((res) => {
          for (let i = 0; i < res.data.length; i++) {
            const element = res.data[i];
            this.list_pendidikan.push({
              id: element.id,
              jenjang: element.jenjang,
              nama_sekolah: element.namauniv,
              lokasi: element.lokasi,
              tahun: element.tahun,
            });
          }
          console.log(this.list_pendidikan);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    post_pendidikan: function () {
      // console.log(this.fungsi_pendidikan);
      if (this.fungsi_pendidikan == "Add") {
        this.$store
          .dispatch(`${Action.alumni.simpan_pendidikan}`, {
            formKata: this.pendidikan,
          })
          .then((res) => {
            // console.log(res.data);
            this.modals.modals_pendidikan = false;
            this.pendidikan.jenjang = null;
            this.pendidikan.namauniv = null;
            this.pendidikan.tahun = null;
            this.pendidikan.lokasi = null;
            this.get_pendidikan();
          })
          .catch((err) => {
            console.log(err);
          });
      }

      if (this.fungsi_pendidikan == "Edit") {
        this.$store
          .dispatch(`${Action.alumni.update_pendidikan}`, {
            formKata: this.pendidikan,
          })
          .then((res) => {
            // console.log(res.data);
            this.modals.modals_pendidikan = false;
            this.pendidikan.jenjang = null;
            this.pendidikan.namauniv = null;
            this.pendidikan.tahun = null;
            this.pendidikan.lokasi = null;
            // this.get_pendidikan()
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    delete_pendidikan: function (value) {
      console.log(value);
      this.$store
        .dispatch(`${Action.alumni.hapus_pendidikan}`, value)
        .then((res) => {
          // console.log(res.data);
          this.get_pendidikan();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    create_get_pendidikan: function () {
      this.fungsi_pendidikan = "Add";
      this.modals.modals_pendidikan = true;
      this.pendidikan.jenjang = null;
      this.pendidikan.namauniv = null;
      this.pendidikan.tahun = null;
      this.pendidikan.lokasi = null;
    },
    update_get_pendidikan: function (value) {
      this.fungsi_pendidikan = "Edit";
      this.pendidikan.id = value;
      this.modals.modals_pendidikan = true;
      this.$store
        .dispatch(`${Action.alumni.pendidikan_test}`, value)
        .then((res) => {
          for (let i = 0; i < res.data.length; i++) {
            const element = res.data[i];
            if (element.id == value) {
              console.log(element);
              this.pendidikan.jenjang = element.jenjang;
              this.pendidikan.namauniv = element.namauniv;
              this.pendidikan.lokasi = element.lokasi;
              this.pendidikan.tahun = element.tahun;
              this.pendidikan.idAlumni = element.idAlumni;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
      // this.modals.modals_pendidikan = true
    },
    get_organisasi: function () {
      this.$store
        .dispatch(`${Action.alumni.organisasi}`, this.id)
        .then((res) => {
          for (let l = 0; l < res.data.length; l++) {
            const element = res.data[l];
            this.list_organisasi.push({
              id: element.id,
              nama_organisasi: element.namaOrganisasi,
              bidang_organisasi: element.bidangOrganisasi,
              jabatan: element.jabatan,
              tahun: element.tahun,
            });
          }
          console.log(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    post_organisasi: function () {
      if (this.fungsi_organisasi == "Add") {
        console.log(this.organisasi);
        // let data_organisasi = {"bidangOrganisasi": this.organisasi.bidangOrganisasi, "jabatan": this.organisasi.jabatan, "namaOrganisasi": this.organisasi.namaOrganisasi, "tahun": this.organisasi.tahun, "idAlumni": this.organisasi.idAlumni, "id": this.organisasi.id}
        this.$store
          .dispatch(`${Action.alumni.simpan_organisasi}`, {
            formKata: this.organisasi,
          })
          .then((res) => {
            console.log(res.data);
            this.modals.modals_organisasi = false;
            this.organisasi.namaOrganisasi = null;
            this.organisasi.bidangOrganisasi = null;
            this.organisasi.jabatan = null;
            this.organisasi.tahun = null;
            this.get_organisasi();
          })
          .catch((err) => {
            console.log(err);
          });
      }

      if (this.fungsi_organisasi == "Edit") {
        console.log(this.organisasi);
        // let data_organisasi = {"bidangOrganisasi": this.organisasi.bidangOrganisasi, "jabatan": this.organisasi.jabatan, "namaOrganisasi": this.organisasi.namaOrganisasi, "tahun": this.organisasi.tahun, "idAlumni": this.organisasi.idAlumni, "id": this.organisasi.id}
        this.$store
          .dispatch(`${Action.alumni.update_organisasi}`, {
            formKata: this.organisasi,
          })
          .then((res) => {
            console.log(res.data);
            this.modals.modals_organisasi = false;
            this.organisasi.namaOrganisasi = null;
            this.organisasi.bidangOrganisasi = null;
            this.organisasi.jabatan = null;
            this.organisasi.tahun = null;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    create_get_organisasi: function () {
      this.fungsi_organisasi = "Add";
      this.modals.modals_organisasi = true;
      this.organisasi.namaOrganisasi = null;
      this.organisasi.bidangOrganisasi = null;
      this.organisasi.jabatan = null;
      this.organisasi.tahun = null;
    },
    update_get_organisasi: function (value) {
      this.fungsi_organisasi = "Edit";
      this.organisasi.id = value;
      this.modals.modals_organisasi = true;
      // console.log(value);

      this.$store
        .dispatch(`${Action.alumni.organisasi}`, this.id)
        .then((res) => {
          for (let l = 0; l < res.data.length; l++) {
            const element = res.data[l];
            if (element.id == value) {
              this.organisasi.namaOrganisasi = element.namaOrganisasi;
              this.organisasi.bidangOrganisasi = element.bidangOrganisasi;
              this.organisasi.jabatan = element.jabatan;
              this.organisasi.tahun = element.tahun;
            }
          }
          // console.log(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    delete_organisasi: function (value) {
      // console.log(this.organisasi);
      // let data_organisasi = {"bidangOrganisasi": this.organisasi.bidangOrganisasi, "idAlumni": this.organisasi.idAlumni, "jabatan": this.organisasi.jabatan, "namaOrganisasi": this.organisasi.namaOrganisasi, "tahun": this.organisasi.tahun}
      this.$store
        .dispatch(`${Action.alumni.hapus_organisasi}`, value)
        .then((res) => {
          // console.log(res.data);
          this.get_organisasi();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    get_proper: function () {
      this.$store
        .dispatch(`${Action.alumni.proper}`, this.id)
        .then((res) => {
          for (let n = 0; n < res.data.length; n++) {
            const element = res.data[n];
            this.list_proper.push({
              id: element.id,
              idAlumni: element.idAlumni,
              judul: element.judul.substring(0, 30) + "...",
              abstrak: element.abstrak,
              evidence: element.evidence,
              kataKunci: element.kataKunci,
              tahun: element.tahun,
            });
          }
          console.log(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    post_proper: function () {
      if (this.fungsi_proper == "Add") {
        // let data_proper = {"idAlumni": this.proper.idAlumni, "judul": this.proper.judul, "abstrak": this.proper.abstrak, "evidence": this.proper.evidence, "kataKunci": this.proper.kataKunci, "tahun": this.proper.tahun}
        this.$store
          .dispatch(`${Action.alumni.simpan_proper}`, { formKata: this.proper })
          .then((res) => {
            // console.log(res.data);
            this.modals.modals_proper = false;
            this.proper.judul = null;
            this.proper.abstrak = null;
            this.proper.evidence = null;
            this.proper.kataKunci = null;
            this.proper.tahun = null;
            this.get_proper();
          })
          .catch((err) => {
            console.log(err);
          });
      }

      if (this.fungsi_proper == "Edit") {
        // let data_proper = {"idAlumni": this.proper.idAlumni, "judul": this.proper.judul, "abstrak": this.proper.abstrak, "evidence": this.proper.evidence, "kataKunci": this.proper.kataKunci, "tahun": this.proper.tahun}
        this.$store
          .dispatch(`${Action.alumni.update_proper}`, { formKata: this.proper })
          .then((res) => {
            console.log(res.data);
            this.modals.modals_proper = false;
            this.proper.judul = null;
            this.proper.abstrak = null;
            this.proper.evidence = null;
            this.proper.kataKunci = null;
            this.proper.tahun = null;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    create_get_proper: function () {
      this.fungsi_proper = "Add";
      this.modals.modals_proper = true;
      this.proper.judul = null;
      this.proper.abstrak = null;
      this.proper.evidence = null;
      this.proper.kataKunci = null;
      this.proper.tahun = null;
    },
    update_get_proper: function (value) {
      this.fungsi_proper = "Edit";
      this.proper.id = value;
      this.modals.modals_proper = true;

      this.$store
        .dispatch(`${Action.alumni.proper_test}`)
        .then((res) => {
          for (let n = 0; n < res.data.length; n++) {
            const element = res.data[n];
            if (element.id == value) {
              this.proper.judul = element.judul;
              this.proper.abstrak = element.abstrak;
              this.proper.evidence = element.evidence;
              this.proper.kataKunci = element.kataKunci;
              this.proper.tahun = element.tahun;
            }
          }
          // console.log(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    delete_proper: function (value) {
      // console.log(this.proper);
      // let data_proper = {"idAlumni": this.proper.idAlumni, "judul": this.proper.judul, "abstrak": this.proper.abstrak, "evidence": this.proper.evidence, "kataKunci": this.proper.kataKunci, "tahun": this.proper.tahun}
      this.$store
        .dispatch(`${Action.alumni.hapus_proper}`, value)
        .then((res) => {
          // console.log(res.data);
          this.get_proper();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    get_detail_proper: function (value) {
      this.$store
        .dispatch(`${Action.alumni.detail_proper}`, value)
        .then((resp) => {
          this.modals.modals_detail_proper = true;
          this.detail_proper = resp.data;
          console.log(resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    create_photo: function () {
      this.modals.modal_photo = true;
    },
    post_photo: function () {
      this.modals.modal_photo = false;
      const data_file_photo = this.$refs.upload_photo.files[0];
      console.log(data_file_photo);
      console.log(this.id_alumni);

      let formKata = new FormData();
      formKata.append("foto", data_file_photo);
      formKata.append("id", this.id_alumni);
      this.$store
        .dispatch(`${Action.alumni.simpan_photo}`, { formKata: formKata })
        .then((res) => {
          console.log(res.data);
          this.$store
            .dispatch(`${Action.alumni.ambil_photo}`, {
              name: res.data.foto,
            })
            .then((resp) => {
              this.modals.modal_photo = false;
              this.foto_alumni = resp.data;
            })
            .catch((err) => {
              console.log(err);
            });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    ambil_photo: function (value) {
      console.log(value);
      console.log(this.alumni.foto);
      console.log(this.foto_alumni);

      this.$store
        .dispatch(`${Action.alumni.ambil_photo}`, { name: value })
        .then((res) => {
          // console.log(res.data);
          // this.test_foto_alumni = res.data;
          return "data:image/jpeg;base64," + res.data;
          // return value ? 'data:image/jpeg;base64,'+res.data : 'https://picsum.photos/600/300/?image=25';
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
<style>
.table-transparent {
  background-color: transparent !important;
}
</style>
