<template>
    <div>
    <b-card-title>{{ dataJudul }}</b-card-title>
    <!-- <img :src="image"> -->
    <img v-bind:src="'data:image/jpeg;base64,'+gambar" class="img-fluid" alt="" >
    <b-card-text>
    {{ dataDeskripsi }}
    </b-card-text>
    <b-card-text class="small text-muted">Dibuat Pada : {{ dataTanggal | moment }}</b-card-text>
    </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'Card',
  props:['dataGbr','dataJudul','dataDeskripsi','dataTanggal'],
  filters: {
    moment: function(value){
      moment.locale('id'); 
      return moment(value).format('LL');
    }
  },
  created(){
    this.axios.post("https://dev-smartbangkom.lan.go.id:9093/Pengumuman/gambarori/"+this.dataGbr).then((response) => {
        console.log(response);
        this.gambar=response.data;
    })
       
  },
  data(){
      return {
          gambar:'',
      }
  },
  methods: {
  },
}
</script>
