<template>

  <router-view></router-view>

</template>
<script>
  import SidebarShare from '@/components/Layout/SidebarSharePlugin';
  export default {
    middleware:'login',
    components:{
      SidebarShare
    },
    mounted(){
      this.white()
    },
    methods:{
      white(){
        let docClasses = document.body.classList;
        docClasses.add('white-content');
      },
    },
  };
</script>

