<template>
  <div class="row">
    <div class="col-md-12">
      <b-card style="border-color: transparent;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);">
        <div class="flex justify-between items-center my-3">
          <div class="flex-grow px-0 py-0 m-0">
            <h5 class="p-0 ml-3 mr-0">Manajemen Alumni Terbaik</h5>
          </div>
          <div class="pl-0 pr-1 py-0 m-0" style="width: 18rem;">
            <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
          </div>
          <div class="pl-1 pr-0 py-0 ml-0 mr-3">
            <b-button variant="primary" @click="create_alumni_terbaik">Tambah Alumni Terbaik</b-button>
            <b-button variant="primary" @click="create_diklat">Tambah Diklat</b-button>
          </div>
        </div>
        <div class="mx-3">
          <div>
            <!-- <b-tabs content-class="mt-3"> -->
              <!-- <b-tab title="Alumni Terbaik" active> -->
                <div v-if="list_diklat == null">
                  <b-alert show variant="info">Belum ada data</b-alert>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Diklat</th>
                      <th scope="col">Tahun</th>
                      <th scope="col">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in list_diklat" :key="index">
                      <td scope="row">{{ index+1 }}</td>
                      <td>{{ item.judul }}</td>
                      <td>{{ item.tahun }}</td>
                      <td>
                        <b-button variant="primary" size="sm" @click="detailAlumniTerbaik(item.id)">Lihat alumni terbaik</b-button>
                        <b-button variant="primary" size="sm" @click="hapus_master_diklat(item.id)">Hapus</b-button>
                        <b-button variant="primary" size="sm" @click="update_diklat(item.id)">Edit</b-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              <!-- </b-tab> -->
              <!-- <b-tab title="Diklat">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nama Diklat</th>
                      <th scope="col">Tahun</th>
                      <th scope="col">Aksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in list_master_diklat" :key="index">
                      <td scope="row">{{ index+1 }}</td>
                      <td>{{ item.juduldiklat }}</td>
                      <td>{{ item.tahun }}</td>
                      <td>
                        <b-button variant="primary" size="sm" @click="hapus_master_diklat(item.id)">Hapus</b-button>
                        <b-button variant="primary" size="sm" @click="update_diklat(item.id)">Edit</b-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </b-tab> -->
            <!-- </b-tabs> -->
          </div>
        </div>
        <!-- <div class="text-center" v-if="alumni_length == 0">
          <b-spinner variant="success" label="Loading..."></b-spinner>
        </div>  -->
        <!-- <b-list-group class="mx-3 mt-0 mb-3" v-if="alumni_length != 0">
          <b-list-group-item href="#" class="flex-column align-items-start" v-for="(item, index) in alumni.slice(0, 15)" :key="index">
            <div class="d-flex flex-row justify-content-between align-items-center m-2">
              <div class="">
                <p class="p-0 m-0" style="line-height: 1;font-weight: 600;">{{ item.nama }}</p>
                <p class="p-0 m-0" style="font-size: 0.875rem;line-height: 1.45;">{{ item.nomorId }}</p>
              </div>
              <div class="">
                <p class="text-right text-uppercase font-weight-light p-0 m-0" style="font-size: 0.875rem;line-height: 1.25;">{{ item.asalInstansi }}</p>
                <p class="text-right p-0 m-0" style="font-size: 0.875rem;line-height: 1.25;">{{ item.jabatan }}</p>
                <p class="text-right p-0 m-0" style="font-size: 0.875rem;line-height: 1.25;">{{ item.nomorKra }}</p>
              </div>
            </div>
          </b-list-group-item>
        </b-list-group> -->
      </b-card>
      <modal :show.sync="modals.modal_1">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Alumni Terbaik</h5>
        </template>
        <div>
          <div>
            <div>
              <p class="m-0 p-0">Nama Diklat</p>
              <multiselect v-model="alumni_terbaik.iddiklat" :options="options_diklat"></multiselect>
              <!-- <base-input class="m-0" v-model="alumni_terbaik.iddiklat"></base-input> -->
            </div>
            <div>
              <p class="m-0 p-0">Nama Alumni</p>
              <multiselect v-model="alumni_terbaik.idAlumni" :options="options_alumni"></multiselect>
              <!-- <base-input class="m-0" v-model="alumni_terbaik.idAlumni"></base-input> -->
            </div>
            <div>
              <p class="m-0 p-0">Urutan</p>
              <base-input class="m-0" v-model="alumni_terbaik.urutan"></base-input>
            </div>
          </div>
        </div>
        <template slot="footer">
          <base-button type="warning" size="sm" @click="modals.modal_1 = false">Close</base-button>
          <base-button type="info" size="sm" @click="simpan_alumni_terbaik">Save changes</base-button>
        </template>
      </modal>
      <modal :show.sync="modals.modal_2">
                <template slot="header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Data Diklat</h5>
                </template>
                <div>
                    <div>
                        <div>
                            <p class="m-0 p-0">Nama Diklat</p>
                            <base-input class="m-0" v-model="master_diklat.juduldiklat"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Tahun</p>
                            <base-input class="m-0" v-model="master_diklat.tahun"></base-input>
                        </div>
                        <!-- <div>
                            <p class="m-0 p-0">Bidang Organisasi</p>
                            <base-input class="m-0" v-model="organisasi.bidangOrganisasi"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Jabatan</p>
                            <base-input class="m-0" v-model="organisasi.jabatan"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Tahun</p>
                            <base-input class="m-0" v-model="organisasi.tahun"></base-input>
                        </div> -->
                    </div>
                </div>
                <template slot="footer">
                    <base-button type="warning" size="sm" @click="modals.modal_2 = false">Close</base-button>
                    <base-button type="info" size="sm" @click="simpan_master_diklat">Save changes</base-button>
                </template>
      </modal>
    </div>
  </div>
</template>
<script>
// import axios from 'axios'
import Multiselect from 'vue-multiselect';
import { Modal } from '@/components';
import { Action } from '../store/api/types';
import { Table, TableColumn } from 'element-ui';
import { log } from 'util';
export default {
  name: 'regular',
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Modal,
    Multiselect
  },
  data() {
    return {
      tableData: [
        {
          id: 1,
          name: 'Dakota Rice',
          salary: '$36.738',
          country: 'Niger',
          city: 'Oud-Turnhout'
        },
        {
          id: 2,
          name: 'Minerva Hooper',
          salary: '$23,789',
          country: 'Curaçao',
          city: 'Sinaai-Waas'
        },
        {
          id: 3,
          name: 'Sage Rodriguez',
          salary: '$56,142',
          country: 'Netherlands',
          city: 'Baileux'
        },
        {
          id: 4,
          name: 'Philip Chaney',
          salary: '$38,735',
          country: 'Korea, South',
          city: 'Overland Park'
        },
        {
          id: 5,
          name: 'Doris Greene',
          salary: '$63,542',
          country: 'Malawi',
          city: 'Feldkirchen in Kärnten'
        }
      ],
      alumni_length: 0,
      alumni_search: null,
      modals: {modal_1: false, modal_2: false},
      fungsi_alumni_terbaik: null,
      id_alumni_terbaik: 0,
      alumni_terbaik: {idAlumni: null, iddiklat: null, urutan: null},
      list_alumni_terbaik: null,
      options: ['A', 'B', 'C'],
      options_diklat: [],
      options_alumni: [],
      id_diklat_test: null,
      id_alumni_test: null,
      list_diklat: null,
      list_master_diklat: null,
      master_diklat: {juduldiklat: null, tahun: null},
      fungsi_master_diklat: null,
      id_master_diklat: 0
    }
  },
  created() {
    // this.get_alumni_terbaik()
    this.get_alumni()
    this.get_diklat()
    this.get_alumni_terbaik_all()
  },
  methods: {
    get_diklat: function() {
      this.$store.dispatch(`${Action.alumni.master_diklat}`).then((resp) => {
        // console.log(resp.data);
        // this.list_diklat = resp.data;
        this.test_list_diklat = resp.data;
        this.list_master_diklat = resp.data
        for (let l = 0; l < resp.data.length; l++) {
          const element = resp.data[l];
          this.options_diklat.push(element.juduldiklat);
        }
      })
      .catch((err) => {
        console.log(err);
      })
    },
    get_alumni: function() {
      this.$store.dispatch(`${Action.alumni.peserta_test}`).then((resp) => {
        // console.log(resp.data);
        this.test_list_alumni = resp.data;
        for (let n = 0; n < resp.data.length; n++) {
          const element = resp.data[n];
          this.options_alumni.push(element.nama)
        }
      })
      .catch((err) => {
        console.log(err);
      })
    },
    create_alumni_terbaik: function() {
      this.fungsi_alumni_terbaik = "Add"
      this.modals.modal_1 = true
    },
    update_alumni_terbaik: function() {
      this.fungsi_alumni_terbaik = "Edit"
      this.modals.modal_1 = true
    },
    get_alumni_terbaik: function() {
      this.$store.dispatch(`${Action.alumni.peserta_terbaik}`)
      .then((resp) => {
        console.log(resp.data);
        
        // this.list_alumni_terbaik = resp.data
      })
      .catch((err) => {
        console.log(err);
      })
    },
    get_alumni_terbaik_all: function() {
      this.$store.dispatch(`${Action.alumni.peserta_terbaik_get_all}`)
      .then((resp) => {
        console.log(resp.data);
        this.list_diklat = resp.data;
        // this.list_alumni_terbaik = resp.data
      })
      .catch((err) => {
        console.log(err);
      })
    },
    simpan_alumni_terbaik: function() {
      if (this.fungsi_alumni_terbaik == "Add") {
        console.log(this.alumni_terbaik);

        // const idmu = 0;
        for (let l = 0; l < this.test_list_diklat.length; l++) {
          const element = this.test_list_diklat[l];
          if (this.alumni_terbaik.iddiklat == element.juduldiklat) {
            this.id_diklat_test = element.id
          }
        }
        console.log('id_diklat_test: '+this.id_diklat_test);

        for (let n = 0; n < this.test_list_alumni.length; n++) {
          const element = this.test_list_alumni[n];
          if (this.alumni_terbaik.idAlumni == element.nama) {
            this.id_alumni_test = element.id
          }
        }
        console.log('id_alumni_test: '+this.id_alumni_test);

        const data_alumni_terbaik = {"idAlumni": this.id_alumni_test, "iddiklat": this.id_diklat_test, "urutan": this.alumni_terbaik.urutan};
        this.$store.dispatch(`${Action.alumni.simpan_peserta_terbaik}`, {formKata: data_alumni_terbaik})
        .then((resp) => {
          console.log(resp.data);
          this.modals.modal_1 = false
          this.get_alumni()
          this.fungsi_alumni_terbaik = null
          this.alumni_terbaik.idAlumni = null
          this.alumni_terbaik.iddiklat = null
          this.alumni_terbaik.urutan = null
        })
        .catch((err) => {
          console.log(err);
        })
      }

      if (this.fungsi_alumni_terbaik == "Edit") {
        console.log(this.fungsi_alumni_terbaik);
      }
    },
    detailAlumniTerbaik: function(value) {
      // this.$router.push({ name: 'berita-id', params: {id: value} })
      this.$router.push({ name: 'alumni_terbaik-id___en', params: {id: value}})
    },
    create_diklat: function() {
      this.modals.modal_2 = true
      this.fungsi_master_diklat = "Add"
      this.master_diklat.juduldiklat = null
      this.master_diklat.tahun = null
    },
    update_diklat: function(value) {
      this.fungsi_master_diklat = "Edit"
      this.id_master_diklat = value
      this.modals.modal_2 = true

      this.$store.dispatch(`${Action.alumni.master_diklat}`)
      .then((resp) => {
        for (let i = 0; i < resp.data.length; i++) {
          const element = resp.data[i];
          if (element.id == value) {
            console.log(resp.data);
            this.master_diklat.juduldiklat = element.juduldiklat
            this.master_diklat.tahun = element.tahun
          }
        }
      })
      .catch((err) => {
        console.log(err);
      })
    },
    simpan_master_diklat: function() {
      if (this.fungsi_master_diklat == 'Add') {
                this.$store.dispatch(`${Action.alumni.simpan_master_diklat}`, {formKata: this.master_diklat}).then((resp) => {
                    console.log(resp.data);
                    this.modals.modal_2 = false
                    // this.get_master_diklat()
                    this.get_alumni_terbaik_all()
                    this.master_diklat.juduldiklat = null
                    this.master_diklat.tahun = null
                    this.fungsi_master_diklat = null
                })
                .catch((err) => {
                    console.log(err);
                })    
      }

      if (this.fungsi_master_diklat == 'Edit') {
                this.$store.dispatch(`${Action.alumni.update_master_diklat}`, {formKata: this.master_diklat, id: this.id_master_diklat}).then((resp) => {
                    console.log(resp.data);
                    this.modals.modal_2 = false
                    // this.get_master_diklat()
                    this.get_alumni_terbaik_all()
                    this.master_diklat.juduldiklat = null
                    this.master_diklat.tahun = null
                    this.fungsi_master_diklat = null
                })
                .catch((err) => {
                    console.log(err);
                })
      }
    },
    hapus_master_diklat: function(value) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(result => {
        if (result.value) {
          this.$store.dispatch(`${Action.alumni.hapus_master_diklat}`, {id:value}).then((res) => {
            console.log(res.data);
            Swal.fire({
              type: 'success',
              title: 'Your data has been deleted.',
              showConfirmButton: false,
              timer: 1000
            })
            this.get_alumni_terbaik_all();
          })
          .catch((err) => {
            console.log(err);
          })
        }
      })
      // this.$store.dispatch(`${Action.alumni.hapus_master_diklat}`, {id: value})
      // .then((resp) => {
      //   console.log(resp.data);
      //   this.get_alumni_terbaik_all()
      //   // this.get_diklat()
      // })
      // .catch((err) => {
      //   console.log(err);
      // })
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.table-transparent {
  background-color: transparent !important;
}
</style>
