<template>
  <div class="row">
    <div class="col-md-12">
      <b-card style="border-color: transparent;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);">
        <!-- <h5 class="p-0 ml-3 mr-0 my-3">Manajemen Alumni</h5> -->
        <!-- <p class="p-0 m-0">Utilities for controlling the box shadow of an element.</p> -->
        <!-- <div class="d-flex justify-content-between align-items-center">
          <div class="flex">
            <h5 class="p-0 ml-3 mr-0 my-3">Manajemen Alumni</h5>
          </div>
          <div class="p-0 ml-0 mr-3 my-3">
              <b-form-input class="m-0" v-model="alumni_search" placeholder="Pencarian"></b-form-input>
          </div>
          <div class="p-0 ml-0 mr-3 my-3">
              <b-form-input class="m-0" v-model="alumni_search" placeholder="Pencarian"></b-form-input>
          </div>
        </div> -->
        <div class="flex justify-between items-center mb-3">
          <div class="flex-grow px-0 py-0 m-0">
            <h5 class="p-0 ml-3 mr-0">Manajemen Alumni</h5>
          </div>
          <div class="pl-0 pr-1 py-0 m-0" style="width: 18rem;">
            <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
          </div>
          <div class="pl-1 pr-0 py-0 ml-0 mr-3">
            <b-button variant="primary" @click="get_alumni">Update Alumni</b-button>
          </div>
        </div>

        <div class="text-center" v-if="alumni_length == 0">
          <b-spinner label="Loading..."></b-spinner>
        </div>
        <b-list-group class="mx-3 mt-0 mb-3" v-if="alumni_length != 0">
          <b-list-group-item href="#" class="flex-column align-items-start" v-for="(item, index) in alumni.slice(0, 15)" :key="index">
            <div class="d-flex flex-row justify-content-between align-items-center m-2" @click="detailBerita(item.idUser)">
              <div class="">
                <p class="p-0 m-0" style="line-height: 1;font-weight: 600;">{{ item.nama }}</p>
                <p class="p-0 m-0" style="font-size: 0.875rem;line-height: 1.45;">{{ item.nomorId }}</p>
              </div>
              <div class="">
                <p class="text-right text-uppercase font-weight-light p-0 m-0" style="font-size: 0.875rem;line-height: 1.25;">{{ item.asalInstansi }}</p>
                <p class="text-right p-0 m-0" style="font-size: 0.875rem;line-height: 1.25;">{{ item.jabatan }}</p>
                <p class="text-right p-0 m-0" style="font-size: 0.875rem;line-height: 1.25;">{{ item.nomorKra }}</p>
              </div>
            </div>
          </b-list-group-item>
        </b-list-group>
      </b-card>
      <!-- <card card-body-classes="table-full-width">
        <h4 slot="header" class="card-title">Striped table</h4>
        <el-table :data="tableData">
          <el-table-column
            min-width="150"
            sortable
            label="Name"
            property="name"
          ></el-table-column>
          <el-table-column
            min-width="150"
            sortable
            label="Country"
            property="country"
          ></el-table-column>
          <el-table-column
            min-width="150"
            sortable
            label="City"
            property="city"
          ></el-table-column>
          <el-table-column
            min-width="150"
            sortable
            align="right"
            header-align="right"
            label="Salary"
            property="salary"
          ></el-table-column>
        </el-table>
      </card> -->
    </div>

  </div>
</template>
<script>
// import axios from 'axios'
import { Action } from '../store/api/types';
import { Table, TableColumn } from 'element-ui';
import { log } from 'util';
export default {
  name: 'regular',
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  },
  data() {
    return {
      tableData: [
        {
          id: 1,
          name: 'Dakota Rice',
          salary: '$36.738',
          country: 'Niger',
          city: 'Oud-Turnhout'
        },
        {
          id: 2,
          name: 'Minerva Hooper',
          salary: '$23,789',
          country: 'Curaçao',
          city: 'Sinaai-Waas'
        },
        {
          id: 3,
          name: 'Sage Rodriguez',
          salary: '$56,142',
          country: 'Netherlands',
          city: 'Baileux'
        },
        {
          id: 4,
          name: 'Philip Chaney',
          salary: '$38,735',
          country: 'Korea, South',
          city: 'Overland Park'
        },
        {
          id: 5,
          name: 'Doris Greene',
          salary: '$63,542',
          country: 'Malawi',
          city: 'Feldkirchen in Kärnten'
        }
      ],
      alumni: null,
      alumni_length: 0,
      alumni_search: null
    };
  },
  created() {
    this.test_get_alumni()
  },
  methods: {
    get_alumni: function() {
      this.$store.dispatch(`${Action.alumni.peserta}`).then((res) => {
      // this.$store.dispatch(`${Action.peserta.ambilpesertatanpaid}`).then((res) => {
        // console.log(res.data);
        // this.alumni = res.data
        // if (this.alumni_search != null) {
        //   this.alumni.filter((text) => {
        //   if (!text.nama) text.nama = ''
        //     text.nama.toLowerCase().includes(this.alumni_search.toLowerCase())
        //   })
        // }

        // this.alumni = res.data
        this.alumni_length = res.data.length
      })
      .catch((err) => {
        console.log(err);
      })
    },
    test_get_alumni: function() {
      this.$store.dispatch(`${Action.alumni.peserta}`).then((res) => {
      // this.$store.dispatch(`${Action.peserta.ambilpesertatanpaid}`).then((res) => {
        // console.log(res.data);
        // this.alumni = res.data
        // if (this.alumni_search != null) {
        //   this.alumni.filter((text) => {
        //   if (!text.nama) text.nama = ''
        //     text.nama.toLowerCase().includes(this.alumni_search.toLowerCase())
        //   })
        // }

        this.alumni = res.data
        this.alumni_length = res.data.length
      })
      .catch((err) => {
        console.log(err);
      })
    },
    detailBerita: function(value) {
      // this.$router.push({ name: 'berita-id', params: {id: value} })
      this.$router.push({ name: 'alumni-id___en', params: {id: value}})
    }
  }
};
</script>
<style>
.table-transparent {
  background-color: transparent !important;
}
</style>
