<template>
    <div class="row">
        <div class="col-md-12">
            <b-card style="border-color: transparent;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);">
                <div class="flex justify-between items-center my-3">
                    <div class="flex-grow px-0 py-0 m-0">
                        <h5 class="p-0 ml-3 mr-0">Manajemen Diklat</h5>
                    </div>
                    <div class="pl-0 pr-1 py-0 m-0" style="width: 18rem;">
                        <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
                    </div>
                    <div class="pl-1 pr-0 py-0 ml-0 mr-3">
                        <b-button variant="primary" @click="create_diklat">Tambah Diklat</b-button>
                    </div>
                </div>
                <div class="mx-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nama Diklat</th>
                                <th scope="col">Tahun</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in list_master_diklat" :key="index">
                                <th scope="row">{{ index+1 }}</th>
                                <td>{{ item.juduldiklat }}</td>
                                <td>{{ item.tahun }}</td>
                                <td>
                                    <b-button variant="primary" size="sm" @click="hapus_master_diklat(item.id)">Hapus</b-button>
                                    <b-button variant="primary" size="sm" @click="update_diklat(item.id)">Edit</b-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </b-card>
            <modal :show.sync="modals.modal_1">
                <template slot="header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Data Diklat</h5>
                </template>
                <div>
                    <div>
                        <div>
                            <p class="m-0 p-0">Nama Diklat</p>
                            <base-input class="m-0" v-model="master_diklat.juduldiklat"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Tahun</p>
                            <base-input class="m-0" v-model="master_diklat.tahun"></base-input>
                        </div>
                        <!-- <div>
                            <p class="m-0 p-0">Bidang Organisasi</p>
                            <base-input class="m-0" v-model="organisasi.bidangOrganisasi"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Jabatan</p>
                            <base-input class="m-0" v-model="organisasi.jabatan"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Tahun</p>
                            <base-input class="m-0" v-model="organisasi.tahun"></base-input>
                        </div> -->
                    </div>
                </div>
                <template slot="footer">
                    <base-button type="warning" size="sm" @click="modals.modal_1 = false">Close</base-button>
                    <base-button type="info" size="sm" @click="simpan_master_diklat">Save changes</base-button>
                </template>
            </modal>
        </div>
    </div>
</template>
<script>
import { Action } from '@/store/api/types';
import { Modal } from '@/components';
export default {
    components: {
        Modal
    },
    data(){
        return {
            modals: {modal_1: false, modal_2: false},
            master_diklat: {juduldiklat: null, tahun: null},
            list_master_diklat: null,
            fungsi_master_diklat: null,
            id_master_diklat: 0
        }
    },
    created(){
        this.get_master_diklat()
    },
    methods: {
        create_diklat: function() {
            this.modals.modal_1 = true
            this.fungsi_master_diklat = "Add"
            this.master_diklat.juduldiklat = null
            this.master_diklat.tahun = null
        },
        update_diklat: function(value) {
            this.fungsi_master_diklat = "Edit"
            this.id_master_diklat = value
            this.modals.modal_1 = true

            this.$store.dispatch(`${Action.alumni.master_diklat}`).then((resp) => {
                for (let i = 0; i < resp.data.length; i++) {
                    const element = resp.data[i];
                    if (element.id == value) {
                        console.log(resp.data);
                        this.master_diklat.juduldiklat = element.juduldiklat
                        this.master_diklat.tahun = element.tahun
                    }
                }
            })
            .catch((err) => {
                console.log(err);
            })
        },
        get_master_diklat: function() {
            this.$store.dispatch(`${Action.alumni.master_diklat}`).then((resp) => {
                this.list_master_diklat = resp.data
                console.log(resp.data);
            })
            .catch((err) => {
                console.log(err);
            })
        },
        simpan_master_diklat: function() {
            if (this.fungsi_master_diklat == 'Add') {
                this.$store.dispatch(`${Action.alumni.simpan_master_diklat}`, {formKata: this.master_diklat}).then((resp) => {
                    console.log(resp.data);
                    this.modals.modal_1 = false
                    this.get_master_diklat()
                    this.master_diklat.juduldiklat = null
                    this.master_diklat.tahun = null
                    this.fungsi_master_diklat = null
                })
                .catch((err) => {
                    console.log(err);
                })    
            }

            if (this.fungsi_master_diklat == 'Edit') {
                this.$store.dispatch(`${Action.alumni.update_master_diklat}`, {formKata: this.master_diklat, id: this.id_master_diklat}).then((resp) => {
                    console.log(resp.data);
                    this.modals.modal_1 = false
                    this.get_master_diklat()
                    this.master_diklat.juduldiklat = null
                    this.master_diklat.tahun = null
                    this.fungsi_master_diklat = null
                })
                .catch((err) => {
                    console.log(err);
                })
            }
        },
        hapus_master_diklat: function(value) {
            this.$store.dispatch(`${Action.alumni.hapus_master_diklat}`, {id: value}).then((resp) => {
                console.log(resp.data);
                this.get_master_diklat()
            })
            .catch((err) => {
                console.log(err);
            })
        }
    }
}
</script>