<template>
  <div class="row">
    <div class="col-md-12">
      <b-card style="border-color: transparent;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);">
        <div class="flex justify-between items-center my-3">
          <div class="flex-grow px-0 py-0 m-0">
            <h5 class="p-0 ml-3 mr-0">Jadwal Agenda Alumni</h5>
          </div>
          <div class="px-0 py-0 ml-0 mr-3">
            <b-button variant="primary" @click="create_jadwal">Tambah Jadwal</b-button>
          </div>
        </div>
        <div class="mx-3">
          <div class="text-center" v-if="list_jadwal == null">
            <b-alert show variant="info">Belum ada data</b-alert>
          </div>
          <table class="table" v-if="list_jadwal != null">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Jawdal</th>
                <th scope="col">Tangga Mulai</th>
                <th scope="col">Tangga Selesai</th>
                <th scope="col">Waktu</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in list_jadwal" :key="index">
                <td scope="row">{{ index+1 }}</td>
                <td>{{ item.deskripsi }}</td>
                <td>{{ item.tglMulai | moment}}</td>
                <td>{{ item.tglSelesai | moment}}</td>
                <td>{{ item.waktu }}</td>
                <td>
                  <b-button variant="primary" size="sm" @click="delete_jadwal(item.id)">Hapus</b-button>
                  <b-button variant="primary" size="sm" @click="update_jadwal(item.id)">Edit</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </b-card>
      <modal :show.sync="modals.modal">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Jadwal Agenda Alumni</h5>
        </template>
        <div>
          <div>
            <p class="m-0 p-0">Deskripsi</p>
            <base-input>
            <template slot="prepend">With textarea</template>
            <textarea
              class="form-control"
              aria-label="With textarea"
              v-model="form_jadwal.deskripsi"
            ></textarea>
          </base-input>
          </div>
          <div>
            <p class="m-0 p-0">Tanggal Mulai</p>
            <base-input type="date" class="m-0" v-model="form_jadwal.tglMulai"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Tanggal Selesai</p>
            <base-input type="date" class="m-0" v-model="form_jadwal.tglSelesai"></base-input>
          </div>
          <div>
            <p class="m-0 p-0">Waktu</p>
            <base-input class="m-0" v-model="form_jadwal.waktu"></base-input>
          </div>
        </div>
        <template slot="footer">
          <base-button type="warning" size="sm" @click="modals.modal = false">Close</base-button>
          <base-button type="info" size="sm" @click="post_jadwal">Save changes</base-button>
        </template>
      </modal>
    </div>
  </div>
  <!-- <div id="app">
    <card card-body-classes="table-full-width">
    <h1>Agenda Alumni</h1>
    <section class="container">
      <full-calendar :config="config" :events="events"/>
    </section>
    </card>
  </div> -->
</template>

<script>
// import Swal from 'sweetalert2'
import moment from 'moment';
import { Action } from '../store/api/types';
import { BaseAlert, Modal } from '@/components';
// import 'sweetalert2/src/sweetalert2.scss'
export default {
  components: {
    BaseAlert,
    Modal
  },
  data() {
    return {
      jwt: this.$cookies.get('isijwt'),
      modals: {modal: false},
      items: [
        { Deskripsi: 'Dickerson', Mulai: 'Macdonald', Selesai: 'Macdonald', Waktu: 'Macdonald' },
        { Deskripsi: 'Larsen', Mulai: 'Shaw', Selesai: 'Macdonald', Waktu: 'Macdonald' },
        { Deskripsi: 'Geneva', Mulai: 'Wilson', Selesai: 'Macdonald', Waktu: 'Macdonald' },
        { Deskripsi: 'Jami', Mulai: 'Carney', Selesai: 'Macdonald', Waktu: 'Macdonald' }
      ],
      form_jadwal: {deskripsi: null, tglMulai: null, tglSelesai: null, waktu: null, creator: this.$cookies.get('isijwt').iduser, created: new Date(), updatedOn: new Date()},
      events: [
        {
            title  : 'event1',
            start  : '2020-10-01',
        },
        {
            title  : 'event2',
            start  : '2020-10-05',
            end    : '2020-10-07',
        },
        {
            title  : 'event3',
            start  : '2020-10-09T12:30:00',
            allDay : false,
        },
      ],
      config: {
        defaultView: 'month',
				eventRender: function(event, element) {
        	console.log(event)
    		}
      },
      id_jadwal: null,
      fungsi_jadwal: null,
      list_jadwal: null
    }
  },
  filters: {
    moment: function(value){
      moment.locale('id'); 
      return moment(value).format('dddd')+', '+moment(value).format('LL');
    }
  },
  created() {
    this.get_jadwal()
  },
  methods: {
    create_jadwal: function() {
      this.form_jadwal.deskripsi = null
      this.form_jadwal.tglMulai = null
      this.form_jadwal.tglSelesai = null
      this.form_jadwal.waktu = null
      this.fungsi_jadwal = "Add"
      this.modals.modal = true
    },
    update_jadwal: function(value) {
      this.id_jadwal = value
      this.fungsi_jadwal = "Edit"
      this.modals.modal = true

      this.$store.dispatch(`${Action.alumni.jadwal}`).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          const element = resp.data[i];
          if (element.id == value) {
            this.form_jadwal.deskripsi = element.deskripsi
            this.form_jadwal.tglMulai = element.tglMulai
            this.form_jadwal.tglSelesai = element.tglSelesai
            this.form_jadwal.waktu = element.waktu
          }
        }
      })
      .catch((err) => {
        console.log(err);
      })
    },
    get_jadwal: function() {
      this.$store.dispatch(`${Action.alumni.jadwal}`).then(resp => {
        console.log(resp.data);
        this.list_jadwal = resp.data
      })
      .catch((err) => {
        console.log(err);
      })
    },
    post_jadwal: function() {
      if (this.fungsi_jadwal == "Add") {
        console.log("Add");
        let data_jadwal = {"deskripsi": this.form_jadwal.deskripsi, "tglMulai": this.form_jadwal.tglMulai, "tglSelesai": this.form_jadwal.tglSelesai, "waktu": this.form_jadwal.waktu, "creator": this.$cookies.get('isijwt').iduser, "created": new Date(), "updatedOn": new Date()};
        this.$store.dispatch(`${Action.alumni.simpan_jadwal}`, {formKata: data_jadwal}).then((res) => {
          console.log(res.data);
          this.modals.modal = false
          this.get_jadwal()
          this.form_jadwal.deskripsi = null
          this.form_jadwal.tglMulai = null
          this.form_jadwal.tglSelesai = null
          this.form_jadwal.waktu = null
        })
        .catch((err) => {
          console.log(err);
        })
      }

      if (this.fungsi_jadwal == "Edit") {
        console.log("Edit");
        let data_jadwal = {"deskripsi": this.form_jadwal.deskripsi, "tglMulai": this.form_jadwal.tglMulai, "tglSelesai": this.form_jadwal.tglSelesai, "waktu": this.form_jadwal.waktu, "creator": this.$cookies.get('isijwt').iduser, "created": new Date(), "updatedOn": new Date()};
        this.$store.dispatch(`${Action.alumni.update_jadwal}`, {id: this.id_jadwal, formKata: data_jadwal}).then((res) => {
          console.log(res.data);
          this.modals.modal = false
          this.get_jadwal()
          this.form_jadwal.deskripsi = null
          this.form_jadwal.tglMulai = null
          this.form_jadwal.tglSelesai = null
          this.form_jadwal.waktu = null
        })
        .catch((err) => {
          console.log(err);
        })
      }
    },
    delete_jadwal: function(value) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(result => {
        if (result.value) {
          this.$store.dispatch(`${Action.alumni.hapus_jadwal}`, {id: value}).then((res) => {
            console.log(res.data);
            Swal.fire({
              type: 'success',
              title: 'Your data has been deleted.',
              showConfirmButton: false,
              timer: 1000
            })
            this.get_jadwal()
          })
          .catch((err) => {
            console.log(err);
          })
        }
      })

      // this.$store.dispatch(`${Action.alumni.hapus_jadwal}`, {id: value}).then((res) => {
      //   console.log(res.data);
      //   this.get_jadwal()
      // })
      // .catch((err) => {
      //   console.log(err);
      // })
    }
  }
}
</script>

<style>
#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		margin-top: 60px;
	}
</style>