<template>
  <div class="row" style="margin-top:10%">
    <!-- <div class="col-md-8"><edit-profile-form> </edit-profile-form></div> -->
    <div class="col-md-4"></div>
    <div class="col-md-4"><login> </login></div>
    <div class="col-md-4"></div>
  </div>
</template>
<script>
import EditProfileForm from '../components/UserProfile/EditProfileForm.vue';
import Login from '../components/UserProfile/login.vue';

export default {
    layout:'starter',
  name: 'user',
  components: {
    EditProfileForm,
    Login
  }
};
</script>
<style></style>
