<template>
  <div class="row">
    <div class="col-md-12">
      <!-- <b-card style="border-color: transparent;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);">
        <div class="d-flex justify-content-end align-items-center">
          <div class="flex-grow-1">
            <h5 class="p-0 ml-3 mr-0 my-3">Manajemen Pengumuman</h5>
          </div>
          <div>
            <div class="p-0 ml-0 mr-0 my-3">
              <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
            </div>
          </div>
          <div>
            <div class="pl-1 pr-0 py-0 ml-0 mr-3 my-3">
              <base-button type="primary" @click="modals.modal0 = true">
                Buat Pengumuman
              </base-button>
            </div>  
          </div>
        </div>
      </b-card> -->
      <div class="flex justify-between items-center">
        <div class="flex-grow px-0 py-0 m-0">
          <h5 class="p-0 m-0">Manajemen Pengumuman</h5>
        </div>
        <div class="pl-0 pr-1 py-0 m-0" style="width: 18rem;">
          <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
        </div>
        <div class="pl-1 pr-0 py-0 m-0">
          <b-button variant="primary" @click="create_pengumuman">Buat Pengumuman</b-button>
        </div>
      </div>
      <!-- :src="'data:image/jpeg;base64,'+berita.images" -->
      <div class="mt-3" v-if="list_pengumuman_length == 0">
        <b-alert show variant="info">Belum ada data</b-alert>
        <!-- <b-spinner label="Loading..."></b-spinner> -->
      </div>
      <section class="mx-0 px-0 py-0" v-if="list_pengumuman_length != 0">
        <div class="test-box">
          <span v-for="(item, index) in pagg" :key="index">
          <!-- <b-card :img-src="'data:image/jpeg;base64,'+item.img" class="border-0 shadow-md exe-box" style="box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);"> -->
          <!-- <b-card img-src="https://picsum.photos/600/300/?image=25" class="border-0 shadow-md exe-box" v-if="item.gambar == null"> -->
          <!-- <span v-if="item.gambar == null">
          <b-card img-src="https://picsum.photos/600/300/?image=25" class="border-0 shadow-md exe-box">
          </span>
          <span v-if="item.gambar != null">
          <b-card :img-src="'data:image/jpeg;base64,'+test_gambar_pengumuman(item.gambar)" class="border-0 shadow-md exe-box">
          </span>  -->
          <b-card style="height:300px" class="border-0 shadow-md exe-box">
            <center><img style="height:200px" :src="item.gambar ? 'data:image/jpeg;base64,'+item.img : 'https://picsum.photos/600/300/?image=25'" alt=""></center>
            <b-card-text>
              {{ item.deskripsi.substring(0,100)+"..." }} <span class="cursor-pointer text-sm underline text-blue-400 hover:text-blue-600" @click="update_pengumuman(item.id)">Update</span>
            </b-card-text>
            <div class="flex justify-between items-center">
              <div class="px-0 py-0 m-0">
                <b-card-text class="small text-muted">Last updated {{ item.tanggal_pelaksanaan | moment }} {{ item.id }}</b-card-text>
              </div>
              <div class="px-0 py-0 m-0 hover:text-red-600">
                <b-icon-x-circle-fill class="cursor-pointer" @click="delete_pengumuman(item.id)"></b-icon-x-circle-fill>
              </div>
            </div>
            <!-- {{ gambar_pengumuman(item.id, item.gambar) }} -->
          </b-card>
          </span>
        </div>
      </section>
      <div>
        <base-pagination
          class="p-3"
          v-model="currentPage"
          :total="50"
        ></base-pagination>
      </div>
      <modal :show.sync="modals.modal0">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Buat Pengumuman</h5>
        </template>
        <div>
          <p class="p-0 m-0">Deskripsi</p>
          <b-form-textarea class="leading-snug p-0 mx-0 mt-0 mb-2" id="textarea" v-model="form_pengumuman.deskripsi" placeholder="Enter something..." rows="6" max-rows="10"></b-form-textarea>
          <!-- <base-input type="text" v-model="form_pengumuman.deskripsi"></base-input> -->
          <p class="p-0 m-0">Upload</p>
          <b-form-file ref="upload_pengumuman" id="upload_pengumuman" placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..."></b-form-file>
        </div>
        <template slot="footer">
          <base-button type="warning" size="sm" @click="modals.modal0 = false">Close</base-button>
          <base-button type="info" size="sm" @click="post_pengumuman">Save changes</base-button>
        </template>
      </modal>
      <!-- <modal :show.sync="modals.modal1">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Update Pengumuman</h5>
        </template>
        <div>
          <p class="p-0 m-0">Deskripsi</p>
          <b-form-textarea id="textarea" v-model="form_pengumuman.deskripsi" placeholder="Enter something..." rows="3" max-rows="6"></b-form-textarea>
          <base-input type="text" v-model="form_pengumuman.deskripsi"></base-input>
          <p class="p-0 m-0">Upload</p>
          <b-form-file ref="upload_update_pengumuman" id="upload_update_pengumuman" placeholder="Choose a file or drop it here..." drop-placeholder="Drop file here..."></b-form-file>
        </div>
        <template slot="footer">
          <base-button type="warning" size="sm" @click="modals.modal1 = false">Close</base-button>
          <base-button type="info" size="sm" @click="put_pengumuman">Save changes</base-button>
        </template>
      </modal> -->
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import moment from 'moment';
import { Action } from '../store/api/types';
import { BaseAlert, Modal } from '@/components';
import { log } from 'util';
export default {
  name: 'notifications',
  components: {
    BaseAlert,
    Modal
  },
  data() {
    return {
      jwt: this.$cookies.get('isijwt'),
      modals: {modal0: false, modal1: false},
      type: ['', 'info', 'success', 'warning', 'danger'],
      notifications: {
        topCenter: false
      },
      currentPage: 1,
      spaceIndex: 6,
      pengumuman: [
        { id: 1, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 2, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 3, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 4, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 5, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 6, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 7, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 8, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 9, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
        { id: 10, title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', description: 'Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.', date: '2020-10-15' },
      ],
      form_pengumuman: { judul: null, deskripsi: null, tglpelaksanaan: null, gambar: null},
      list_pengumuman: null,
      list_pengumuman_length: 0,
      id_pengumuman: 0,
      list_gambar_pengumuman: [],
      arr_list_pengumuman: [],
      fungsi_pengumuman: null
    };
  },
  filters: {
    moment: function(value){
      moment.locale('id'); 
      return moment(value).format('LL');
    }
  },
  created() {
    this.get_pengumuman()
    // this.gambar_pengumuman()
  },
  computed:{
    pagg(){
      return this.arr_list_pengumuman.slice((this.currentPage-1) * this.spaceIndex,this.currentPage*this.spaceIndex);
    }
  },
  methods: {
    // sortArrays(arrays) {
    //   return _.orderBy(arrays, 'id', 'desc');
    // },
    create_pengumuman: function() {
      this.form_pengumuman.judul = null
      this.form_pengumuman.deskripsi = null
      this.fungsi_pengumuman = "Add"
      this.modals.modal0 = true
    },
    update_pengumuman: function(value) {
      this.id_pengumuman = value
      this.fungsi_pengumuman = "Edit"
      this.modals.modal0 = true
      this.$store.dispatch(`${Action.alumni.pengumuman}`)
      .then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          const element = resp.data[i];
          if (element.id == value) {
            this.form_pengumuman.judul = element.judul
            this.form_pengumuman.deskripsi = element.deskripsi
          }
        }
      })
      .catch(err => {
        console.log(err);
      })
    },
    get_pengumuman: function() {
      this.$store.dispatch(`${Action.alumni.pengumuman}`).then((res) => {
        console.log(res.data);
        this.list_pengumuman = res.data
        this.list_pengumuman_length = res.data.length

        let arr = []
        let arr_value = []
        for (let i = 0; i < res.data.length; i++) {
          const element = res.data[i];
          if (element.gambar != null) {
            arr.push({id: element.id, value: element.gambar});
            this.$store.dispatch(`${Action.alumni.gambar_pengumuman}`, arr).then((resp) => {
              // arr_value.push({created: element.created, creator: element.creator, deskripsi: element.deskripsi, gambar: element.gambar, id: element.id, img: resp.data, judul: element.judul, tglpelaksanaan: element.tglpelaksanaan, updatedOn: element.updatedOn})
              this.arr_list_pengumuman.push({id: element.id, judul: element.judul, deskripsi: element.deskripsi, gambar: element.gambar, img: resp.data, tglpelaksanaan: element.tglpelaksanaan, creator: element.creator, created: element.created, updatedOn: element.updatedOn})
            })
          }

          if (element.gambar == null) {
            this.arr_list_pengumuman.push({id: element.id, judul: element.judul, deskripsi: element.deskripsi, gambar: element.gambar, img: null, tglpelaksanaan: element.tglpelaksanaan, creator: element.creator, created: element.created, updatedOn: element.updatedOn})
          }
        }
        // console.log(arr_value);
        this.arr_list_pengumuman.sort(function(a, b){return b.id - a.id});
        console.log(this.arr_list_pengumuman);
        
        // for (let l = 0; l < res.data.length; l++) {
        //   const el = res.data[l];
        //   let img = null
        //   if (el.gambar == null) {
        //     img = null
        //   }

        //   if (el.gambar != null) {
        //     for (let i = 0; i < arr_value.length; i++) {
        //       const ele = arr_value[i];
        //       if (ele.id == el.id) {
        //         img = ele.img
        //       }
        //     }
        //   }

        //   this.arr_list_pengumuman.push({ created: el.created, creator: el.creator, deskripsi: el.deskripsi, gambar: el.gambar, img: img,id: el.id, judul: el.judul, tglpelaksanaan: el.tglpelaksanaan, updatedOn: el.updatedOn })
        // }
        // console.log(this.arr_list_pengumuman);

      })
      .catch((err) => {
        console.log(err);
      })
    },
    post_pengumuman: function() {
      if (this.fungsi_pengumuman == "Add") {
        // console.log("Add");
        const upload_file_pengumuman = this.$refs.upload_pengumuman.files[0];
        const value_pengumuman = {"creator":this.jwt.iduser,"deskripsi":this.form_pengumuman.deskripsi,"judul":this.form_pengumuman.deskripsi,"tglpelaksanaan": new Date()};
        // console.log(value);
        // console.log(upload_file_pengumuman);
        
        let formKata = new FormData()
            formKata.append("gbrpeng", upload_file_pengumuman)
            // formKata.append("pengumuman", value_pengumuman)
            formKata.append("pengumuman", JSON.stringify(value_pengumuman))

        this.$store.dispatch(`${Action.alumni.simpan_pengumuman}`, formKata).then((res) => {
          console.log(res.data);
          // this.get_pengumuman()
          this.modals.modal0 = false
          this.form_pengumuman.judul = null
          this.form_pengumuman.deskripsi = null
        })
        .catch((err) => {
          console.log(err);
        })
      }

      if (this.fungsi_pengumuman == "Edit") {
        // console.log("Edit");
        // let upload_file_update_pengumuman = this.$refs.upload_update_pengumuman.files[0];
        const upload_file_pengumuman = this.$refs.upload_pengumuman.files[0];
        // let value = {judul: this.form_pengumuman.judul, deskripsi: this.form_pengumuman.deskripsi, tglpelaksanaan: this.form_pengumuman.tglpelaksanaan, gambar: upload};
        let value_pengumuman_update = {"judul":this.form_pengumuman.deskripsi,"deskripsi":this.form_pengumuman.deskripsi,"tglpelaksanaan":new Date()};
        // console.log(upload_file_update_pengumuman);
        // console.log(value);
        let formKata = new FormData()
            formKata.append("gbrpeng", upload_file_pengumuman)
            // formKata.append("id", this.id_pengumuman)
            formKata.append("pengumuman", JSON.stringify(value_pengumuman_update))

        this.$store.dispatch(`${Action.alumni.update_pengumuman}`, {formKata: formKata, id: this.id_pengumuman, pengumuman: this.form_pengumuman.deskripsi}).then((res) => {
          console.log(res.data);
          this.modals.modal0 = false
          this.form_pengumuman.judul = null
          this.form_pengumuman.deskripsi = null
          // this.get_pengumuman()
        })
        .catch((err) => {
          console.log(err);
        })
      }
    },
    modal_update_pengumuman: function(value) {
      this.modals.modal1 = true;
      this.id_pengumuman = value;
      console.log(value);
    },
    put_pengumuman: function() {
      let upload_file_update_pengumuman = this.$refs.upload_update_pengumuman.files[0];
      // let value = {judul: this.form_pengumuman.judul, deskripsi: this.form_pengumuman.deskripsi, tglpelaksanaan: this.form_pengumuman.tglpelaksanaan, gambar: upload};
      let value_update = {"judul":this.form_pengumuman.deskripsi,"deskripsi":this.form_pengumuman.deskripsi,"tglpelaksanaan":new Date()};
      // console.log(upload_file_update_pengumuman);
      // console.log(value);
      let formKata = new FormData()
          formKata.append("gbrpeng", upload_file_update_pengumuman)
          // formKata.append("id", this.id_pengumuman)
          formKata.append("pengumuman", JSON.stringify(value_update))

      this.$store.dispatch(`${Action.alumni.update_pengumuman}`, {formKata: formKata, id: this.id_pengumuman, pengumuman: this.form_pengumuman.deskripsi}).then((res) => {
        console.log(res.data);
        this.modals.modal1 = false
        // this.get_pengumuman()
      })
      .catch((err) => {
        console.log(err);
      })
    },
    delete_pengumuman: function(value) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(result => {
        if (result.value) {
          this.$store.dispatch(`${Action.alumni.hapus_pengumuman}`, {id:value}).then((res) => {
            console.log(res.data);
            Swal.fire({
              type: 'success',
              title: 'Your data has been deleted.',
              showConfirmButton: false,
              timer: 1000
            })
            this.get_pengumuman();
          })
          .catch((err) => {
            console.log(err);
          })
        }
      })
      // this.$store.dispatch(`${Action.alumni.hapus_pengumuman}`, {id: value}).then((res) => {
      //   console.log(res.data);
      //   this.get_pengumuman()
      // })
      // .catch((err) => {
      //   console.log(err);
      // })
    },
    gambar_pengumuman: function(id, value) {
      let arr = []
      arr.push({id, value});
      console.log(this.list_gambar_pengumuman);
      this.$store.dispatch(`${Action.alumni.gambar_pengumuman}`, arr).then((res) => {
        console.log(res.data);
        return res.data
      })
      .catch((err) => {
        console.log(err);
      })
    },
    test_gambar_pengumuman: function(value) {
      // let arr = []
      // arr.push({id, value});
      // console.log(this.list_gambar_pengumuman);
      if (value == null) {
        return 'https://picsum.photos/600/300/?image=25';
      }

      if (value != null) {
        this.$store.dispatch(`${Action.alumni.test_gambar_pengumuman}`, {value: value}).then((res) => {
          console.log(res.data);
          return 'data:image/jpeg;base64,'+res.data;
        })
        .catch((err) => {
          console.log(err);
        })
      }
    },
    notifyVue(verticalAlign, horizontalAlign) {
      let color = Math.floor(Math.random() * 4 + 1);
      this.$notify({
        message:
          'Welcome to <b>Vue Black Dashboard Pro</b> - a beautiful resource for every web developer',
        timeout: 30000,
        icon: 'tim-icons icon-bell-55',
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: this.type[color]
      });
    }
  }
};
</script>
<style scoped>
.card .alert {
  position: relative !important;
  width: 100%;
}
.test-box{
  margin: 20px auto;
  columns: 2;
  column-gap: 20px;
}
.test-box .exe-box{
  width: 100%;
  margin: 0 0 20px;
  overflow: hidden;
  break-inside: avoid;
}
</style>
