<template>
  <div>
  <section class="mx-40 px-10 py-20">
    <p class="text-xl font-bold p-0 mb-3">Pengumuman</p>
    <div class="test-box">
      <b-card class="border-0 shadow-md exe-box" v-for="(item, index) in pengumuman" :key="index">
        <Card :data-gbr="item.gambar" :data-judul="item.judul" :data-deskripsi="item.deskripsi" :data-tanggal="item.created" />
      </b-card>
    </div>
  </section>
  </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import Card from "@/components/Card"
export default {
  name: 'Home',
  components:{
    Card,
  },
  data(){
    return {
      news: [],
      pengumuman: [],
      gambar: ""
    }
  },
  filters: {
    moment: function(value){
      moment.locale('id'); 
      return moment(value).format('LL');
    }
  },
  created() {
    this.getPengumunan()
  },
  methods: {
    getPengumunan: function() {
      axios.get("https://dev-smartbangkom.lan.go.id:9093/Pengumuman").then((response) => {
        // console.log(response.data)
        this.pengumuman=[];
        var data=response.data;
        for(var i=data.length-1;i>=0;i--){
          this.pengumuman.push(data[i])
        }
        console.log(this.pengumuman);
      })
    },
   
  }
}
</script>
<style scoped>
.test-box{
  margin: 20px auto;
  columns: 2;
  column-gap: 20px;
}
.test-box .exe-box{
  width: 100%;
  margin: 0 0 20px;
  overflow: hidden;
  break-inside: avoid;
}
</style>
