<template>
  <div class="row">
    <div class="col-md-12">
      <div class="flex justify-between items-center">
        <div class="flex-grow px-0 py-0 m-0">
          <h5 class="p-0 m-0">Manajemen Posting</h5>
        </div>
        <div class="pl-0 pr-1 py-0 m-0" style="width: 18rem">
          <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
        </div>
        <div class="pl-1 pr-0 py-0 m-0">
          <b-button variant="primary" @click="create_posting"
            >Buat Posting</b-button
          >
        </div>
      </div>
      <div class="row p-3">
        <base-input label="Kategori Posting">
          <select class="form-control" v-model="selected" style="height: 40px">
            <option value="1">Foto</option>
            <option value="2">Video YouTube</option>
          </select>
        </base-input>
      </div>
      <center v-if="statusData == false">
        <div class="mt-3" v-if="status == false">
          <b-spinner label="Loading..."></b-spinner>
        </div>
        <div class="mt-3" v-if="status == true">
          <b-alert show variant="info">Belum ada data</b-alert>
          <!-- <b-spinner label="Loading..."></b-spinner> -->
        </div>
      </center>
      <center v-if="statusData == true"></center>
      <section class="mx-0 px-0 py-0" v-if="list_posting_length != 0">
        <div class="test-box">
          <b-card
            style="height: 300px"
            class="border-0 shadow-md exe-box"
            v-for="(item, index) in pagg"
            :key="index"
          >
            <center>
              <img
                style="height: 200px"
                :src="'data:image/jpeg;base64,' + item.img"
                alt=""
              />
            </center>
            <b-card-text v-if="item.caption !== null">
              {{ item.caption.substring(0, 100) + "..." }}
              <span
                class="cursor-pointer text-sm underline text-blue-400 hover:text-blue-600"
                @click="update_posting(item.id)"
                >Update</span
              >
            </b-card-text>
            <div class="flex justify-between items-center">
              <div class="px-0 py-0 m-0">
                <b-icon-heart-fill class="cursor-pointer"></b-icon-heart-fill>
                <span class="text-sm">{{ item.love }}</span>
                <!-- <b-card-text class="small text-muted">Last updated {{ item.tanggal_pelaksanaan | moment }}</b-card-text> -->
              </div>
              <div class="px-0 py-0 m-0 hover:text-red-600">
                <b-icon-x-circle-fill
                  class="cursor-pointer"
                  @click="delete_posting(item.id)"
                ></b-icon-x-circle-fill>
              </div>
            </div>
          </b-card>
        </div>
      </section>
      <div>
        <base-pagination
          class="p-3"
          v-model="currentPage"
          :total="50"
        ></base-pagination>
      </div>
      <modal :show.sync="modals.modal0">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Buat Posting</h5>
        </template>
        <div>
          <p class="p-0 m-0">Caption</p>
          <base-input>
            <template slot="prepend">With textarea</template>
            <textarea
              class="form-control"
              aria-label="With textarea"
              v-model="form_posting.caption"
            ></textarea>
          </base-input>
          <p class="p-0 m-0">Upload</p>
          <b-form-file
            ref="upload_posting"
            id="upload_posting"
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
          ></b-form-file>
        </div>
        <template slot="footer">
          <base-button type="warning" size="sm" @click="modals.modal0 = false"
            >Close</base-button
          >
          <base-button type="info" size="sm" @click="post_posting"
            >Save changes</base-button
          >
        </template>
      </modal>
      <modal :show.sync="modals.modal1">
        <template slot="header">
          <h5 class="modal-title" id="exampleModalLabel">Update Posting</h5>
        </template>
        <div>
          <p class="p-0 m-0">Caption</p>
          <base-input type="text" v-model="form_posting.caption"></base-input>
          <p class="p-0 m-0">Upload</p>
          <b-form-file
            ref="upload_update_posting"
            id="upload_update_posting"
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
          ></b-form-file>
        </div>
        <template slot="footer">
          <base-button type="warning" size="sm" @click="modals.modal1 = false"
            >Close</base-button
          >
          <base-button type="info" size="sm" @click="put_posting"
            >Save changes</base-button
          >
        </template>
      </modal>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <card>
        <h4 slot="header" class="card-title">Notifications Style</h4>

        <base-alert type="info"> This is a plain notification</base-alert>

        <base-alert type="info" dismissible>
          This is a notification with close button.
        </base-alert>

        <base-alert type="info" dismissible icon="tim-icons icon-bell-55">
          This is a notification with close button and icon.
        </base-alert>

        <base-alert type="info" dismissible icon="tim-icons icon-bell-55">
          This is a notification with close button and icon and have many lines.
          You can see that the icon and the close button are always vertically
          aligned. This is a beautiful notification. So you don't have to worry
          about the style.
        </base-alert>
      </card>
    </div>

    <div class="col-md-6">
      <card>
        <h4 slot="header" class="card-title">Notification states</h4>

        <base-alert type="primary" dismissible>
          <span
            ><b> Primary - </b> This is a regular notification made with
            ".alert-primary"</span
          >
        </base-alert>

        <base-alert type="info" dismissible>
          <span
            ><b> Info - </b> This is a regular notification made with
            ".alert-info"</span
          >
        </base-alert>

        <base-alert type="success" dismissible>
          <span
            ><b> Success - </b> This is a regular notification made with
            ".alert-success"</span
          >
        </base-alert>

        <base-alert type="warning" dismissible>
          <span
            ><b> Warning - </b> This is a regular notification made with
            ".alert-warning"</span
          >
        </base-alert>

        <base-alert type="danger" dismissible>
          <span
            ><b> Danger - </b> This is a regular notification made with
            ".alert-danger"</span
          >
        </base-alert>
      </card>
    </div>
    <div class="col-md-12">
      <card class="text-center">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h4 class="card-title">
                Notifications Places
                <p class="category">Click to view notifications</p>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <base-button
                    type="primary"
                    block
                    @click.native="notifyVue('top', 'left')"
                    >Top Left
                  </base-button>
                </div>
                <div class="col-md-4">
                  <base-button
                    type="primary"
                    block
                    @click.native="notifyVue('top', 'center')"
                    >Top Center
                  </base-button>
                </div>
                <div class="col-md-4">
                  <base-button
                    type="primary"
                    block
                    @click.native="notifyVue('top', 'right')"
                    >Top Right
                  </base-button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                  <base-button
                    type="primary"
                    block
                    @click.native="notifyVue('bottom', 'left')"
                    >Bottom Left
                  </base-button>
                </div>
                <div class="col-md-4">
                  <base-button
                    type="primary"
                    block
                    @click.native="notifyVue('bottom', 'center')"
                    >Bottom Center
                  </base-button>
                </div>
                <div class="col-md-4">
                  <base-button
                    type="primary"
                    block
                    @click.native="notifyVue('bottom', 'right')"
                    >Bottom Right
                  </base-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </card>
    </div>
  </div> -->
</template>
<script>
import { Action } from "../store/api/types";
import { BaseAlert, Modal } from "@/components";
export default {
  name: "notifications",
  components: {
    BaseAlert,
    Modal,
  },
  data() {
    return {
      jwt: this.$cookies.get("isijwt"),
      modals: { modal0: false, modal1: false },
      type: ["", "info", "success", "warning", "danger"],
      notifications: {
        topCenter: false,
      },
      status: false,
      currentPage: 1,
      spaceIndex: 6,
      statusData:false,
      selected: 1,
      posting: [
        {
          id: 1,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 2,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 3,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 4,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 5,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 6,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 7,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 8,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 9,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
        {
          id: 10,
          title: "Lorem ipsum dolor sit amet, consectetur adipiscing elit",
          description:
            "Risus pretium quam vulputate dignissim suspendisse in. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Facilisis sed odio morbi quis. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Mattis molestie a iaculis at erat pellentesque adipiscing. Amet facilisis magna etiam tempor orci eu. Tempus iaculis urna id volutpat lacus. Id diam vel quam elementum pulvinar. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Condimentum id venenatis a condimentum vitae sapien pellentesque. Egestas integer eget aliquet nibh.",
          date: "2020-10-15",
        },
      ],
      form_posting: {
        id_posting: 0,
        caption: null,
        gambar: null,
      },
      list_posting: [],
      list_posting_length: 0,
      arr_list_posting: [],
      fungsi_posting: null,
      id_posting: null,
      gambar: [],
      listPostingSelect: [],
      kategori: "",
    };
  },
  computed: {
    pagg() {
      return this.list_posting
        .filter((lv) => {
          return lv.kategori.match(this.kategori);
        })
        .slice(
          (this.currentPage - 1) * this.spaceIndex,
          this.currentPage * this.spaceIndex
        );
    },
  },
  created() {
    // console.log(this.jwt);

    this.get_posting();
  },
  watch: {
    selected(val) {
      this.selected = val;
      if (this.selected == 1) {
        this.kategori = "foto";
      } else if (this.selected == 2) {
        this.kategori = "video";
      }
      console.log(this.selected);
    },
  },
  methods: {
    create_posting: function () {
      this.form_posting.id = null;
      this.form_posting.caption = null;
      this.form_posting.gambar = null;
      this.fungsi_posting = "Add";
      this.modals.modal0 = true;
    },
    update_posting: function (value) {
      this.id_posting = value;
      this.fungsi_posting = "Edit";
      this.modals.modal0 = true;

      this.$store
        .dispatch(`${Action.alumni.posting}`)
        .then((resp) => {
          console.log(resp.data);
          for (let i = 0; i < resp.data.length; i++) {
            const element = resp.data[i];
            if (element.id == value) {
              this.form_posting.caption = element.caption;
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async get_posting() {
      var isi = await this.$store.dispatch(`${Action.alumni.posting}`);
      console.log(isi.data);
      if (isi.data.length != 0) {
        this.status = false;
      } else if (isi.data.length == 0) {
        this.status = true;
      }
      for (let i = 0; i < isi.data.length; i++) {
        if (isi.data[i].url == null || isi.data[i].url == "") {
          const data = await this.$store.dispatch(
            `${Action.alumni.test_gambar_posting}`,
            isi.data[i]
          );
          this.list_posting.push({
            kategori: "foto",
            url: isi.data[i].url,
            love: isi.data[i].love,
            caption: isi.data[i].caption,
            id: isi.data[i].id,
            judul: isi.data[i].judul,
            deskripsi: isi.data[i].deskripsi,
            gambar: isi.data[i].gambar,
            img: data.data,
            tglpelaksanaan: isi.data[i].tglpelaksanaan,
            creator: isi.data[i].creator,
            created: isi.data[i].created,
            updatedOn: isi.data[i].updatedOn,
          });
        } else {
          this.list_posting.push({
            kategori: "video",
            url: isi.data[i].url,
            love: isi.data[i].love,
            caption: isi.data[i].caption,
            id: isi.data[i].id,
            judul: isi.data[i].judul,
            deskripsi: isi.data[i].deskripsi,
            gambar: isi.data[i].gambar,
            img: null,
            tglpelaksanaan: isi.data[i].tglpelaksanaan,
            creator: isi.data[i].creator,
            created: isi.data[i].created,
            updatedOn: isi.data[i].updatedOn,
          });
        }
      }
      if(isi.data.length == this.list_posting.length){
        this.statusData=true;
      }
      this.list_posting_length = this.list_posting.length;
      console.log(this.list_posting[0].kategori);
    },
    post_posting: function () {
      if (this.fungsi_posting == "Add") {
        // console.log("Add");
        let upload_file_posting = this.$refs.upload_posting.files[0];
        let value = {
          caption: this.form_posting.caption,
          idcreator: this.jwt.iduser,
          judul: this.form_posting.caption,
          jumkomentar: 0,
          love: 0,
          subjudul: this.form_posting.caption,
          url: "",
        };
        console.log(value);
        console.log(upload_file_posting);

        let formKata = new FormData();
        formKata.append("gbrpost", upload_file_posting);
        formKata.append("posting", JSON.stringify(value));
        this.$store
          .dispatch(`${Action.alumni.simpan_posting}`, formKata)
          .then((res) => {
            console.log(res.data);
            this.get_posting();
            this.modals.modal0 = false;
            this.form_posting.caption = null;
            this.form_posting.gambar = null;
            this.form_posting.id_posting = null;
          })
          .catch((err) => {
            console.log(err);
          });
      }

      if (this.fungsi_posting == "Edit") {
        console.log("Edit");
        // let upload_update_file_posting = this.$refs.upload_update_posting.files[0];
        let upload_file_posting = this.$refs.upload_posting.files[0];
        // let value = {"caption":this.form_posting.caption};
        let value_update = {
          caption: this.form_posting.caption,
          idcreator: this.jwt.iduser,
          judul: this.form_posting.caption,
          jumkomentar: 0,
          love: 0,
          subjudul: this.form_posting.caption,
          url: "",
        };

        let formKata = new FormData();
        formKata.append("gbrpost", upload_file_posting);
        // formKata.append("id", this.form_posting.id_posting)
        formKata.append("posting", JSON.stringify(value_update));
        this.$store
          .dispatch(`${Action.alumni.update_posting}`, {
            id: this.id_posting,
            formKata: formKata,
          })
          .then((res) => {
            console.log(res.data);
            this.get_posting();
            this.modals.modal1 = false;
            this.form_posting.caption = null;
            this.form_posting.gambar = null;
            this.form_posting.id_posting = null;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    modal_update_posting: function (value) {
      this.modals.modal1 = true;
      this.form_posting.id_posting = value;
      console.log(value);
    },
    put_posting: function () {
      console.log(this.form_posting);
      let upload_update_file_posting = this.$refs.upload_update_posting
        .files[0];
      // let value = {"caption":this.form_posting.caption};
      let value_update = {
        caption: this.form_posting.caption,
        idcreator: this.jwt.iduser,
        judul: this.form_posting.caption,
        jumkomentar: 0,
        love: 0,
        subjudul: this.form_posting.caption,
        url: "",
      };

      let formKata = new FormData();
      formKata.append("gbrpost", upload_update_file_posting);
      // formKata.append("id", this.form_posting.id_posting)
      formKata.append("posting", JSON.stringify(value_update));
      this.$store
        .dispatch(`${Action.alumni.update_posting}`, {
          id: this.form_posting.id_posting,
          formKata: formKata,
        })
        .then((res) => {
          console.log(res.data);
          this.get_posting();
          this.modals.modal1 = false;
          this.form_posting.caption = null;
          this.form_posting.gambar = null;
          this.form_posting.id_posting = null;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    delete_posting: function (value) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          this.$store
            .dispatch(`${Action.alumni.hapus_posting}`, { id: value })
            .then((res) => {
              console.log(res.data);
              Swal.fire({
                type: "success",
                title: "Your data has been deleted.",
                showConfirmButton: false,
                timer: 1000,
              });
              this.get_posting();
            })
            .catch((err) => {
              console.log(err);
            });
        }
      });

      // this.$store.dispatch(`${Action.alumni.hapus_posting}`, {id:value}).then((res) => {
      //   console.log(res.data);
      //   this.get_posting()
      // })
      // .catch((err) => {
      //   console.log(err);
      // })
    },
    notifyVue(verticalAlign, horizontalAlign) {
      let color = Math.floor(Math.random() * 4 + 1);
      this.$notify({
        message:
          "Welcome to <b>Vue Black Dashboard Pro</b> - a beautiful resource for every web developer",
        timeout: 30000,
        icon: "tim-icons icon-bell-55",
        horizontalAlign: horizontalAlign,
        verticalAlign: verticalAlign,
        type: this.type[color],
      });
    },
  },
};
</script>
<style scoped>
.card .alert {
  position: relative !important;
  width: 100%;
}
/* .modal-footer{
  justify-content: flex-end !important;
} */
.test-box {
  margin: 20px auto;
  columns: 2;
  column-gap: 20px;
}
.test-box .exe-box {
  width: 100%;
  margin: 0 0 20px;
  overflow: hidden;
  break-inside: avoid;
}
</style>
