<template>
    <div class="row">
        <div class="col-md-12">
            <b-card style="border-color: transparent;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);">
                <div class="flex justify-between items-center my-3">
                    <div class="flex-grow px-0 py-0 m-0">
                        <h5 class="p-0 ml-3 mr-0">Register</h5>
                    </div>
                    <div class="pl-0 pr-1 py-0 m-0" style="width: 18rem;">
                        <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
                    </div>
                    <div class="pl-1 pr-0 py-0 ml-0 mr-3">
                        <b-button variant="primary" @click="create_register">Register</b-button>
                    </div>
                </div>
                <div class="mx-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">NIP/NIK</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Verifikasi</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in pagg" :key="index">
                                <td scope="row">{{ index+1 }}</td>
                                <td>{{ item.nip }}</td>
                                <td>{{ item.nama }}</td>
                                <td v-if="item.verifikasi == 0">Belum di verifikasi</td>
                                <td v-if="item.verifikasi == 1">Terverifikasi</td>
                                <td>
                                    <b-button variant="primary" size="sm" @click="validasi_register(item.id)">Verifikasi</b-button>
                                    <b-button variant="primary" size="sm" @click="hapus_register(item.id)">Hapus</b-button>
                                    <b-button variant="primary" size="sm" @click="update_register(item.id)">Edit</b-button>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    <div>
      <base-pagination class="p-3" v-model="currentPage" :total="50"></base-pagination>
    </div>
                </div>
            </b-card>
            <modal :show.sync="modals.modal_1">
                <template slot="header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                </template>
                <div>
                    <div>
                        <div>
                            <p class="m-0 p-0">NIP</p>
                            <base-input class="m-0" v-model="form_register.nip"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Nama Lengkap</p>
                            <base-input class="m-0" v-model="form_register.nama"></base-input>
                        </div>
                        <div>
                            <p class="m-0 p-0">Password</p>
                            <base-input class="m-0" v-model="form_register.password"></base-input>
                        </div>
                    </div>
                </div>
                <template slot="footer">
                    <base-button type="warning" size="sm" @click="modals.modal_1 = false">Close</base-button>
                    <base-button type="info" size="sm" @click="simpan_register">Save changes</base-button>
                </template>
            </modal>
        </div>
    </div>
</template>
<script>
import { Action } from '@/store/api/types';
import { Modal } from '@/components';
export default {
    components: {
        Modal
    },
    data() {
        return {
            currentPage: 1,
            spaceIndex:20,
            modals: {modal_1: false},
            list_register: [],
            form_register: {id: 0, nip: null, nama: null, password: null, verifikasi: 0},
            fungsi_register: null
        }
    },
    computed:{
    pagg(){
      return this.list_register.slice((this.currentPage-1) * this.spaceIndex,this.currentPage*this.spaceIndex)
    }
  },
    created(){
        this.get_register()
    },
    methods: {
        get_register: function() {
            this.$store.dispatch(`${Action.alumni.register}`).then((resp) => {
                console.log(resp.data);
                this.list_register = resp.data
            })
            .catch((err) => {
                console.log(err);
            })
        },
        create_register: function() {
            this.fungsi_register = 'Add'
            this.modals.modal_1 = true
        },
        update_register: function(value) {
            this.fungsi_register = 'Edit'
            this.modals.modal_1 = true
            this.$store.dispatch(`${Action.alumni.register}`).then((resp) => {
                console.log(resp.data);
                for (let i = 0; i < resp.data.length; i++) {
                    const element = resp.data[i];
                    if (element.id == value) {
                        this.form_register.id = element.id
                        this.form_register.nip = element.nip
                        this.form_register.nama = element.nama
                    }
                }
            })
            .catch((err) => {
                console.log(err);
            })
        },
        simpan_register: function() {
            if (this.fungsi_register == 'Add') {
                // console.log(this.form_register);
                this.$store.dispatch(`${Action.alumni.simpan_register}`, {formKata: this.form_register}).then((resp) => {
                    console.log(resp.data);
                    this.get_register()
                    this.modals.modal_1 = false
                    this.form_register.nip = null
                    this.form_register.nama = null
                    this.form_register.password = null
                })
                .catch((err) => {
                    console.log(err);
                })
            }

            if (this.fungsi_register == 'Edit') {
                this.$store.dispatch(`${Action.alumni.update_register}`, {formKata: this.form_register, id: this.form_register.id}).then((resp) => {
                    console.log(resp.data);
                    this.get_register()
                    this.modals.modal_1 = false
                    this.form_register.nip = null
                    this.form_register.nama = null
                    this.form_register.password = null
                })
                .catch((err) => {
                    console.log(err);
                })
            }
        },
        hapus_register: function(value) {
            this.$store.dispatch(`${Action.alumni.hapus_register}`, {id: value}).then((resp) => {
                console.log(resp.data);
                this.get_register()
            })
            .catch((err) => {
                console.log(err);
            })
        },
        validasi_register: function(value) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You are sure to be validated!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, validated it!'
            }).then(result => {
                if (result.value) {
                    this.$store.dispatch(`${Action.alumni.validasi_register}`, {id: value}).then((resp) => {
                        console.log(resp.data);
                        Swal.fire({
                            type: 'success',
                            title: 'Your data has been validated.',
                            showConfirmButton: false,
                            timer: 1000
                        })
                        this.get_register()
                    })
                    .catch((err) => {
                        console.log(err);
                    })
                }
            })
            // this.$store.dispatch(`${Action.alumni.validasi_register}`, {id: value}).then((resp) => {
            //     console.log(resp.data);
            //     this.get_register()
            // })
            // .catch((err) => {
            //     console.log(err);
            // })
        }
    }
}
</script>