<template>
  <div class="row">
    <div class="col-md-12">
      <b-card style="border-color: transparent;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);">
        <!-- <h5 class="p-0 ml-3 mr-0 my-3">Manajemen Alumni</h5> -->
        <!-- <p class="p-0 m-0">Utilities for controlling the box shadow of an element.</p> -->
        <div class="d-flex justify-content-end align-items-center">
          <div class="flex-grow-1">
            <h5 class="p-0 ml-3 mr-0 my-3">Manajemen Admin</h5>
          </div>
          <div>
            <div class="p-0 ml-0 mr-0 my-3">
              <b-form-input class="m-0" placeholder="Pencarian"></b-form-input>
            </div>
          </div>
          <div>
            <div class="pl-1 pr-0 py-0 ml-0 mr-3 my-3">
              <b-button v-b-modal.modal-lg variant="primary">Tambah Admin</b-button>
              <b-modal id="modal-lg" size="lg" centered title="Tambah Posting">
                
                <div class="d-block text-left">
                  <b-form-group id="input-group-1" label="Nama Lengkap" label-for="input-1">
                    <b-form-input id="input-1" required></b-form-input>
                  </b-form-group>
                  <b-form-group id="input-group-1" label="Email" label-for="input-1">
                    <b-form-input id="input-1" required></b-form-input>
                  </b-form-group>
                  <b-form-group id="input-group-1" label="Username" label-for="input-1">
                    <b-form-input id="input-1" required></b-form-input>
                  </b-form-group>
                  <b-form-group id="input-group-1" label="Password" label-for="input-1">
                    <b-form-input id="input-1" required></b-form-input>
                  </b-form-group>
                  <b-form-group id="input-group-1" label="Password Ulang" label-for="input-1">
                    <b-form-input id="input-1" required></b-form-input>
                  </b-form-group>
                  <!-- <b-form-group id="input-group-1" label="Deskripsi" label-for="input-1">
                    <b-form-textarea id="textarea" placeholder="Enter something..." rows="3" max-rows="6"></b-form-textarea>
                  </b-form-group> -->
                </div>
                <!-- <div class="d-block text-right">
                  <b-button class="bg-primary">Button</b-button>
                  <b-button class="bg-warning">Button</b-button>
                </div> -->
                <!-- <template v-slot:default="{ hide }">
                  <p>Modal Body with button</p>
                  <b-button @click="hide()">Hide Modal</b-button>
                </template>

                <template v-slot:modal-footer="">
                  <b-button size="sm" variant="success" @click="ok()">
                    OK
                  </b-button>
                  <b-button size="sm" variant="danger" @click="cancel()">
                    Cancel
                  </b-button>
                </template> -->
              </b-modal>
            </div>  
          </div>
        </div>
        <div class="mx-3 mt-0 mb-3" >
          <div class="text-center" v-if="items_length == 0">
            <b-spinner label="Loading..."></b-spinner>
          </div>
          <b-table id="my-table" :items="items" :per-page="perPage" :current-page="currentPage" small v-if="items_length != 0">
            <template v-slot:cell(action)="">
             <!-- `data.value` is the value after formatted by the Formatter -->
              <b-button><b-icon icon="check2-square"></b-icon></b-button>
              <b-button><b-icon icon="trash"></b-icon></b-button>
            </template>
          </b-table>
          <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table" v-if="items_length != 0"></b-pagination>
        </div>
      </b-card>
      <!-- <card card-body-classes="table-full-width">
        <h4 slot="header" class="card-title">Manajemen Admin </h4>

        <b-button v-b-modal.modal-1>Tambah Admin</b-button>

  <b-modal id="modal-1" title="Tambah Admin" hide-footer>
    <b-form-group label="Nama">
        <b-form-input v-model="form.nama" type="text" required placeholder="Masukkan Nama"></b-form-input>
      </b-form-group>
     <b-form-group label="Email">
        <b-form-input v-model="form.email" type="email" required placeholder="Masukkan Email"></b-form-input>
      </b-form-group>
      <b-form-group label="username">
        <b-form-input v-model="form.username"  type="text" required placeholder="Masukkan Username"></b-form-input>
      </b-form-group>
     <b-form-group label="Email">
        <b-form-input v-model="form.password" type="password"  required placeholder="Masukkan Password"></b-form-input>
      </b-form-group>
      <b-form-group label="Konfirmasi Password">
        <b-form-input :state="validation" v-model="form.confirm" type="password" required placeholder="Masukkan Konfirmasi Password"></b-form-input>
        <div v-if="form.confirm!=''">
          <b-form-invalid-feedback :state="validation">
            Password tidak sama
          </b-form-invalid-feedback>
          <b-form-valid-feedback :state="validation">
            Password cocok
          </b-form-valid-feedback>
        </div>
      </b-form-group>
      <div v-if="form.confirm!=''">
      <b-button v-if="validation" class="mt-3" block @click="adduser">Simpan</b-button>
      <b-button v-if="!validation" class="mt-3" block disabled>Simpan</b-button>
      </div>
  </b-modal>

        <el-table :data="users" scope>  
          <el-table-column
            min-width="150"
            sortable
            label="Nama"
            property="nama"
          ></el-table-column>
          <el-table-column
            min-width="150"
            sortable
            label="Username"
            property="username"
          ></el-table-column>
          <el-table-column
            min-width="150"
            sortable
            label="Email"
            property="email"
          ></el-table-column>
          
          <el-table-column
            min-width="150"
            sortable
            align="right"
            header-align="right"
            label="Aksi"
          >
          <template slot-scope="props">
          <b-button class="mt-3" variant="info" ><b-icon icon="check2-square"></b-icon></b-button>
          <b-button class="mt-3" variant="danger" @click="deluser(props.row.id)" ><b-icon icon="trash"></b-icon></b-button>
          </template>
          </el-table-column>
        </el-table>
      </card> -->
    </div>

  </div>
</template>
<script>
import { Table, TableColumn } from 'element-ui';
import { Action } from '../store/api/types';

export default {
  name: 'regular',
  components: {
    [Table.name]: Table,
    [TableColumn.name]: TableColumn
  },
  created(){
  },
  data() {
    return {
      email:'',
      form:{ email:'', nama:'', username:'', password:'', confirm:'' },
      users:[],
      modal:{ alert:false },
      perPage: 5,
      currentPage: 1,
      items: [
        // { id: 1, first_name: 'Fred', last_name: 'Flintstone', action: '' },
        // { id: 2, first_name: 'Wilma', last_name: 'Flintstone', action: '' },
        // { id: 3, first_name: 'Barney', last_name: 'Rubble', action: '' },
        // { id: 4, first_name: 'Betty', last_name: 'Rubble', action: '' },
        // { id: 5, first_name: 'Pebbles', last_name: 'Flintstone', action: '' },
        // { id: 6, first_name: 'Bamm Bamm', last_name: 'Rubble', action: '' },
        // { id: 7, first_name: 'The Great', last_name: 'Gazzoo', action: '' },
        // { id: 8, first_name: 'Rockhead', last_name: 'Slate', action: '' },
        // { id: 9, first_name: 'Pearl', last_name: 'Slaghoople', action: '' },
        // { id: 10, first_name: 'Pearl', last_name: 'Slaghoople', action: '' }
      ],
      items_length: 0
    };
  },
  computed: {
    rows() {
      return this.items.length
    },
    validation() {
      return this.form.password==this.form.confirm
    }
  },
  mounted(){
    this.getUsers()
  },
  methods:{
    deluser(id){
      Swal.fire({
        type:'warning',
        title: 'Apakah anda yakin ingin menghapus data?',
        showCancelButton: true,
        confirmButtonText: `Ya`,
        showCloseButton: true,
      }).then((result) => {
        console.log(result);
        /* Read more about isConfirmed, isDenied below */
        if (result.value) {
          Swal.fire('Data Dihapus')
          this.$store.dispatch(`${Action.user.hapususer}`,id).then(res=>{
            this.getUsers()
          })
        } else {
          Swal.fire('Data Batal Dihapus')
        }
      })
      
    },
    adduser(){
      this.$bvModal.hide('modal-1');
      this.$store.dispatch(`${Action.user.tambahuser}`,{
        username:this.form.username,
        password:this.form.password,
        kld:'',
        nama:this.form.nama,
        lemdik:'',
        email:this.form.email,
        role:'role_adminAlumni'
      }).then((res) => {
          this.users=[],
          this.getUsers()
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getUsers: function () {
      // this.user=[];
      // let loader = this.$loading.show({
      //   container: null,
      //   canCancel: true,
      //   onCancel: this.onCancel,
      // });
      this.$store.dispatch(`${Action.peserta.ambilpesertabyrole}`,'role_adminAlumni').then((res) => {
        console.log(res.data);
            // for(var i=0;i<res.data.length;i++){
            //     this.users.push(res.data[i])
            // }
            this.users = res.data
            console.log(this.users);
            this.totalLength = this.users.length;
            for (let i = 0; i < res.data.length; i++) {
              const element = res.data[i];
              this.items.push({ id: i+1, nama_lengkap: element.nama, username: element.username, action: '' }) 
            }
            this.items_length = res.data.length
          // loader.hide();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
<style>
.table-transparent {
  background-color: transparent !important;
}
</style>
