<template>
  <card class="card-user" >
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <a href="javascript:void(0)">
        <h2 >Login Admin Data Alumni</h2>
        <div class="col-md-12">
          <base-input
            type="text"
            placeholder="Username"
            v-model="model.username"
          >
          </base-input>
        </div>
        <div class="col-md-12">
          <base-input
            type="password"
            placeholder="Password"
            v-model="model.password"
          >
          </base-input>
        </div>
      </a>
      <base-button v-on:click="login" type="primary" class="btn-fill">
        Login
      </base-button>
    </div>

    <div slot="footer" class="button-container">
      <h5 style="color:black">@2020, Pusdatin LAN</h5>
    </div>
  </card>
</template>
<script>

import {Mutationauth, Actionauth} from '../../store/auth/types'
import Axios from 'axios'
import Notification from '~/components/NotificationPlugin'
import { color } from 'd3';
  export default {
    created(){
      console.log('cookies '+this.$cookies.get('token'))
    },
    asyncData(context) {
      return {
        data:context.$auth.$storage.getLocalStorage('token'),
      }
    },
    components:{
      Notification,
      
    },
    data() {
      return {
        model: {
          username: '',
          password: '',
          rememberMe: false,
           code: '',
        }
      };
    },
     methods:{

       handleOnComplete(value) {
          console.log('OTP: ', value);
        },
        
      async login(){
        // try{
        
        let muncul=this.$toast.success('Login Izin Prinsip')
        muncul.goAway(500)
        let email = this.model.username
        let password = this.model.password
        //alert(email)
        this.$store.dispatch(`${Actionauth.Login}`,{email:email,password:password})
        .then(()=>{
          console.log('status sukses')
          this.$store.commit(`${Mutationauth.success}`);
          
          let error=this.$toast.success('Login Berhasil, Selamat datang di Sistem Izin prinsip')
          error.goAway(3000)
        })
        .catch(()=>{
          // let error=this.$toast.error('Email dan Password anda tidak cocok')
          // error.goAway(3000)
          this.$store.commit(`${Mutationauth.error}`);
          
        })
        console.log(this.$store.state.auth.status)
      
        // }catch(e){
          // this.error = e.response.data.message
          // console.log('tes error')
          // console.log(error)
        // }
        
      }
    }
  };
</script>
<style></style>
